[2019-04-07 13:30] ened opened #1 "Retry logic"
How does this plugin handle failed uploads due to connectivity issues? From my understand uploads are currently marked as failed and will not resume?

[2019-04-26 00:04] onikiri2007 commented on #1
Yes that's correct, if upload failed due to connectivity, it will raise failed event.

[2019-05-01 06:10] ened commented on #1
Could this be adjusted with an exponential retry logic? Some files really must be uploaded - and the user will not want to re-upload manually if their internet connection is flaky.

[2019-05-08 10:19] ianrothmann opened #2 "Error compiling on iOS"
Hi there,

I've installed the package and followed your instructions carefully. When building for iOS, I get the following error:

`   === BUILD TARGET video_player OF PROJECT Pods WITH CONFIGURATION Debug ===
    /Users/ianrothmann/libs/flutter/.pub-cache/hosted/pub.dartlang.org/flutter_uploader-1.0.1/ios/Classes/SwiftFlutterUploaderPlugin.swift:295:36: warning: string interpolation produces a de

[2019-05-08 10:30] ianrothmann commented on #2
I see compiling from Xcode that the actual error is `'flutter_uploader/flutter_uploader-Swift.h' file not found` in 'FlutterUploaderPlugin.m"

[2019-05-20 08:15] onikiri2007 commented on #2
@ianrothmann this plugin uses swift and in order to use this plugin you need to create the flutter project, when you create the flutter project use -i swift option in flutter create

eg.  flutter create --org ${orgname} -i swift -o java ${appname}

[2019-05-20 08:24] onikiri2007 commented on #1
in order to add above feature,  upload probably requires some kind of flag or retry policy to be as parameters so uploader can decide whether to retry exponentially or stop at a certain number of failures. we can also probably introduce like downloader plugin to record and track upload task in the db.

[2019-05-20 08:34] ened commented on #1
OK. I will get to it at some point. Currently extending this plugin with support for raw uploads (not only multipart/form-data) and few other bits.

[2019-05-20 08:54] onikiri2007 commented on #1
Thats great looking forward to your pull  request :grinning:

[2019-05-23 18:50] ened commented on #2
@ianrothmann I believe your Podfile  must contain 'use_frameworks!'

[2019-06-04 01:10] #2 closed

[2019-06-19 03:19] daniloadorno opened #7 "please modify"
in build.gradle:

implementation("android.arch.work:work-runtime:$work_version") {
        exclude group: 'com.google.guava', module: 'listenablefuture'
    }

to:
implementation 'androidx.work:work-runtime:2.0.0'

as flutter_downloader

[2019-07-03 06:38] SaravanarajaGITHUB opened #8 "Uploaded video not received in server"
Trying to upload a video in background from my flutter app,
Done all the mentioned steps for android integration, able to see the video uploading dialogue in notification bar & getting a success message too but video is not received in server, what i'm missing ? or what wrong with the code ? (code attached below)

[code]

[2019-07-29 07:21] Zeeshan0201 opened #9 "How we can upload Multiple Files Using This Package? Please Reply"

[2019-07-31 10:02] onikiri2007 commented on #9
You can either do below

final taskId = await uploader.enqueue(
  url: "your upload link", //required: url to upload to
  files: [FileItem(filename: filename, savedDir: savedDir, fieldname:"file"),
FileItem(filename:"secondfile.jpeg", savedDir: savedDir, fieldname:"file"),
...
], // required: list of files that you want to upload
  method: UplaodMethod.POST, // HTTP method  (POST or PUT or PATCH)

[2019-07-31 10:02] onikiri2007 commented on #7
done

[2019-07-31 10:14] onikiri2007 commented on #8
update package to 1.0.3
try

FlutterUploader uploader) async {
  print(contestantDetails.filePath);
  String savedDir = p.dirname(contestantDetails.filePath);
  String filename = p.basename(contestantDetails.filePath);
  print("Path name $filename");

 // filename and savedDir both required

  final taskId = await uploader.enqueue(
      url:
          "http://holein1hero.com/api/uploadApi/p2lbgWk

[2019-08-01 00:46] #9 closed

[2019-08-01 00:47] #7 closed

[2019-08-01 00:48] #8 closed

[2019-08-02 10:00] Zeeshan0201 commented on #9
@onikiri2007 and how we can enable option for selecting multiple file?

[2019-08-02 19:53] MiroCaseiro opened #10 "Failed compiling on iOS"
Hi.
I installed the plugin in my project, I'm getting the error 'symbol(s) not found for architecture x86_64':

 ...
  "protocol witness table accessor for __C.NSObject : Swift.CustomStringConvertible in Foundation", referenced from:
      lazy protocol witness table accessor for type __C.NSHTTPURLResponse and conformance __C.NSObject : Swift.CustomStringConvertible in Foundation in flutter_upload

[2019-08-06 07:01] Zeeshan0201 commented on #9
@onikiri2007 how can i set multiple files as

as i am not able to do by this..
![Screenshot from 2019-08-06 12-31-01](https://user-images.githubusercontent.com/45591301/62517960-10c3ce00-b846-11e9-9804-b016de286244.png)

[2019-08-09 07:43] onikiri2007 commented on #10
it compiles fine from new project - flutter create.
Have you try that?

if that works, your ios project might be old. try delete the ios folder and run flutter create .

[2019-08-09 07:43] #10 closed

[2019-08-13 15:02] pietermeyerInfrasonic opened #11 "Upload goes into loop"
Good Day

Uploading big video files goes into a loop where the file is repeatedly sent to the backend server. I have set the timeout (FUTimeoutInSeconds) to be a much higher number than the server's response time without any success.

Do you perhaps have any idea of what the cause might be? Or how this can be debugged?

I am running the application on iOS.

Kind Regards

[2019-08-13 15:51] pietermeyerInfrasonic commented on #11
After further investigation it looks like URLSessionConfiguration timeoutIntervalForResource is set to its default value of 60 seconds. Is there any chance this can be changed to become a configurable property?

[2019-08-13 17:36] pietermeyerInfrasonic commented on #11
Issue was not with the plugin but rather the backend, ended up setting the header key value pair to 'Connection':'keep-alive' to resolve the issue.

[2019-08-13 17:36] #11 closed

[2019-08-19 09:54] pietermeyerInfrasonic opened #12 "Issue with gzip content encoding on Andorid"
Hi

My backend server (Jetty(9.4.19.v20190610) responds with the content being gzip encoded. But on android this causes the plugin to return an empty response.

Can the issue please be investigated.  Please let me know if you need more details. Issue was
temporarily resolved by changing requestBuilder.addHeader("Accept-Encoding", "br, gzip, deflate"); to requestBuilder.addHeader("Accept-Encoding",

[2019-08-20 11:13] ened commented on #12
Could you provide a public endpoint for this?

[2019-08-21 01:49] onikiri2007 commented on #12
confirmed. OkHttp already does the gzip decoding transparently if we don't add Accept-Encoding header. the line has been removed. Thanks for the report.

Regards,

[2019-08-21 01:49] #12 closed

[2019-08-21 06:35] pietermeyerInfrasonic commented on #12
Hi

Apologies for the late feedback, thank you for resolving the issue so quickly.

Kind Regards

[icon.png]
PIETER MEYER Infrasonic Consulting (Pty) Ltd
19 Sovereign Road, Route 21 Corporate Park, Irene
Phone: +27 82 921 9880
Email: pieter@infrasonic.co.za<mailto:pieter@infrasonic.co.za>

From: onikiri2007 <notifications@github.com>
Reply-To: BlueChilli/flutter_uploader <reply@reply.github.com>
D

[2019-08-22 12:41] samin-safaei opened #15 "Error building on android"
When I added the plugin with the required configuration in `build.gradle` I get the following error while building:
[code]
Here is the result of `flutter doctor -v` command:
[code]
I have the following dependencies in my project:
[code]

[2019-08-24 09:10] onikiri2007 commented on #15
I believe this would solve your problem
https://github.com/flutter/flutter/issues/27254.

[2019-08-24 09:10] #15 closed

[2019-09-14 15:27] Ajit121 opened #16 "cancelAll() or cancel(taskId) throwing exception"
cancelAll() or cancel(taskId) throwing exception in android and not cancelling. Its working fine in iOS.

I/WM-WorkerWrapper(15368): Work [ id=3ccd5a83-37ab-4d50-bc96-40e1403fca5b, tags={ flutter_upload_task, com.bluechilli.flutteruploader.UploadWorker } ] was cancelled
I/WM-WorkerWrapper(15368): java.util.concurrent.CancellationException: Task was cancelled.
I/WM-WorkerWrapper(15368): 	at android

[2019-09-20 02:01] onikiri2007 commented on #16
This is WorkManager logging in the exception to the Console but it's not actually raising the exception however there was an issue with cancellation when upload request was already inflight. it wasn't cancelling the request. Thanks for raising the issue. it's should fix in version 1.0.3+2

[2019-09-20 02:01] #16 closed

[2019-09-30 16:33] sndrox opened #19 "Understanding upload behaviour when app is not running"
Apparently uploader.result.listen... is not called when task ends and the app is not running, am I wrong?

[2019-09-30 16:40] ened commented on #19
At the moment, the uploader depends on a running App in order to connect back to the progress channel, so you are correct.

A future version of this plugin shall contain a child isolate (similar to how `firebase_messaging` and  `android_alarm_manager` are handling it.

[2019-09-30 16:53] sndrox commented on #19
Thanks ened, got it.

Is there any trick you can think of that would let me understand whether an upload has ended "while I was away"?

[2019-09-30 16:57] ened commented on #19
The plugin is using WorkManager on Android. I'm sure there is a API which we could expose to let you check using the returned `taskId`. Perhaps try it out first in your App you can add a simple method handler to your MainActivity on Android to check for a taskId.

I'm not sure about the iOS version, but it should be a similar principle.

[2019-10-10 14:48] tapkain opened #21 "plugin fails for iOS on 204"
Hello, when I upload data to amazon bucket, it returns 204 and the plugin on iOS fails
hasResponseError = response!.statusCode != 200 && response!.statusCode != 201
the issue is in this line, could it check in a better way the status code?

[2019-10-14 10:05] kalkotekedar opened #24 "Copy selected file not working on iOS 13.1.2"
When I tried to make a copy of the selected file using the file copy method

`var file = selectedVideo.Copy('$saveDir/$filename');`

I am getting a below error

`Cannot copy file`
`OSError
errorCode:2
message: No such file or directory`

The same code works fine on the version below 13.

[2019-10-15 09:58] #21 closed

[2019-10-18 12:42] avootla1 opened #25 "File Upload Fail"
14  libsystem_pthread.dylib             0x000000010f4f63fd start_wqthread + 13
13  libsystem_pthread.dylib             0x000000010f4f66b3 _pthread_wqthread + 583
12  libdispatch.dylib                   0x000000010f125330 _dispatch_worker_thread2 + 97
11  libdispatch.dylib                   0x000000010f124ad3 _dispatch_root_queue_drain + 355
10  libdispatch.dylib                   0x000000010f117d4

[2019-10-18 12:56] ened commented on #25
Hi @avootla1 - do you have more details on when the issue happened exactly?

[2019-10-18 13:11] avootla1 commented on #25
Hi @ened , Thanks for your quick response.
I get this error whenever I try to upload a long duration recording (usually over 30 mins). Everything works fine when I try to upload a smaller one.

[2019-10-22 13:03] hanson1024 opened #26 "Often crashing"
self.runningTaskById[taskId] = UploadTask(taskId: taskId, status: .running, progress: Int(progress), tag: runningTask?.tag)

let runningTask = self.runningTaskById[taskId]

URLSessionDidSendBodyData: taskId: chillisource.flutter_uploader.upload.background.7, byteSent: 32768, totalBytesSent: 360448, totalBytesExpectedToSend: 1049738, progress:34.0

EXC_BAD_ACCESS(code=EXC_I386_GPFLT)

[2019-10-22 23:23] yashj-occipitaltech opened #27 "Ios is not uploading multiple images"
The android app is working fine and uploading multiple images but the ios one is only uploading the first one . I have logged the outputs and flutter uploader is receiving  the exact number of files in the files list but it is only uploading the first one. Can you tell me what's the issue here ?
Thanks for the plugin !

[2019-10-23 08:22] rota2000 commented on #27
I have the same issue

[2019-11-05 22:59] #24 closed

[2019-11-05 23:47] onikiri2007 commented on #25
this should be fixed with 1.2.0

[2019-11-05 23:47] #25 closed

[2019-11-05 23:47] onikiri2007 commented on #27
this should be fixed with 1.2.0

[2019-11-05 23:47] #27 closed

[2019-11-05 23:48] onikiri2007 commented on #26
this should be fixed with 1.2.0

[2019-11-05 23:48] #26 closed

[2019-11-07 05:25] amitted opened #33 "Upload Failed on MI Phones"
Hi,

I tried this plugin but this always show "Upload failed" in Mi Phone please see the attached screenshot
![2019-11-06](https://user-images.githubusercontent.com/43950908/68362378-15519880-014d-11ea-97b4-75d372c05846.png)

[2019-11-09 16:06] kalismeras61 opened #34 "Is it working even app is closed? (killed)"

[2019-11-13 15:57] thosakwe opened #36 "FlutterUploader.result never fires events"
Hi, and thanks for the awesome plug-in. I'm developing an app where I'm using background uploads for multi-media posts. I want to use `uploader.result.listen(...)` to show a small notification when posts successfully upload, but the event never fires.

I am 100% sure that the requests sends correctly, though. In fact, `flutter_uploader` logs some information to the console containing the response:

[2019-11-15 04:27] onikiri2007 commented on #36
is this iOS or android?  have you tried with both? I can't really help you without more information

[2019-11-16 04:04] thosakwe commented on #36
Running on iOS simulator; haven't tried with Android.

[2019-11-19 00:25] eliasjtg opened #37 "Resumable Uploads"

[2019-11-19 14:07] eliasjtg commented on #37
With pleasure, I am willing to help in everything in my power

[2019-11-27 09:52] ainulya16 opened #38 "Headers Config (Content-Type)"
files is failed to upload after set header of content type to "application/octet-stream".

here is error response below:

[2019-11-27 10:09] ened commented on #38
Hi @ainulya16 please try the new enqueueRaw method in the uploaded class.

[2019-11-27 10:26] ainulya16 commented on #38
which version?

[2019-11-29 01:08] onikiri2007 commented on #38
try 1.2.0

[2019-11-30 07:23] ainulya16 commented on #38
i did but still same. i am using "enqueue" not enqueueBinary" to upload multiple files.

[2019-11-30 07:26] ened commented on #38
Hi @ainulya16 in that case call enqueueBinary for each of your files. Please check how exactly it endpoints expects the data.

[2019-12-02 07:11] ainulya16 commented on #38
i did it, but seemed this package replace my customer header for "application/octet-stream" or whatever it is.

[2019-12-02 11:37] ragnor-rs commented on #26
Unfortunately, on Simulator, it is still quite easy to reproduce with 1.2.0

#0	0x00007fff50b9378b in objc_msgSend ()
#1	0x000000010eca2d13 in Dictionary._Variant.setValue(_:forKey:) ()
#2	0x000000010ee98f8d in specialized Dictionary.subscript.setter ()
#3	0x000000010ec72792 in Dictionary.subscript.setter ()
#4	0x000000010960cf39 in SwiftFlutterUploaderPlugin.urlSession(_:task:didSendBodyData:tota

[2019-12-02 11:39] ened commented on #26
@ragnor-rs please open a separate issue and also show the arguments passed to the Dart methods. This looks like an empty / null value in a parameters/headers dictionary and we probably just need to add some null-checks.

[2019-12-02 11:56] ragnor-rs opened #39 "Thread 7: EXC_BAD_ACCESS (code=1, address=0x18) during file upload"
Happens with flutter_uploader 1.2.0 (iOS)

The crash is not always reproducible. Looks like a concurrency issue to me. It's easier to catch on Simulator.

Dart code:
[code]

Passed values:
[code]

Stack trace:
[code]

[2019-12-02 11:56] ragnor-rs commented on #26
@ened please see https://github.com/BlueChilli/flutter_uploader/issues/39

[2019-12-02 15:30] ragnor-rs opened #40 "java.lang.IllegalArgumentException: Parameter specified as non-null is null"
flutter_uploader: 1.2.0
OS: Android

This is because `MimeTypeMap.getSingleton().getMimeTypeFromExtension("log")` is null

Stack trace
[code]

[2020-01-01 08:52] MunishThakur opened #41 "Can not see the failure log"
I am trying to upload an image, It shows progress but do not go **result** stream.

Is there any option I can check Request / Response of whole uploading process?

[2020-01-16 09:47] SrengBona commented on #9
Hello guy, who can tell me about "FileItem(filename:"secondfile.jpeg", savedDir: savedDir, fieldname:"file")" variable savedDir.

Bona SR.
Thank you!

[2020-01-16 09:53] SrengBona commented on #9
final uploader = FlutterUploader();
    String uid = await FlutterSecureStorage().read(key: "getTocken");
    final taskId = await uploader.enqueue(
      url: mainUrl + 'merchant/upload-galleries',
      files: [FileItem(filename: images[0].name.toString(), savedDir:"", fieldname:"file"),],
      method: UploadMethod.POST,
      headers: {HttpHeaders.authorizationHeader: uid,},
      showNotifica

[2020-01-20 11:32] DhruvamSharma opened #42 "UploadTaskStatus.complete event is never fired."
UploadTaskStatus.complete event is never fired.

I had to change the code to make it running.
I will make a pull request for the same. @ened

[2020-01-21 04:05] tony123S opened #43 "Does it support multiple fieldname?"
Does it support multiple fieldname?

[2020-01-22 14:33] clementjouannet opened #44 "New Background modes"
Since Xcode 11, a new mode appeared in the "Background Modes" section of the iOS project.

![Capture d’écran 2020-01-22 à 15 31 29](https://user-images.githubusercontent.com/11754420/72902804-658fce00-3d2c-11ea-82e4-2fb1d3c8a918.png)

The "Background processing" needs to be enable, otherwise the app crash.

[2020-01-23 09:35] #43 closed

[2020-02-04 20:33] royibernthal opened #45 "enqueue data is Map<String, String>, must pass dynamic."
I'm using flutter uploader to upload files to Transloadit.

Their API expect a deep object passed in the request data, which I can't pass since FlutterUploader/enqueue() data only accepts Map<String, String>.

Would you be able to change it to Map<String, dynamic>?

Here's the code I need to execute:

[code]

auth is the object I can't pass, since data's properties can only be strings.

If I try t

[2020-02-07 17:18] royibernthal commented on #45
@ened @onikiri2007 It'd be great to hear your thoughts on this.

[2020-02-10 09:04] ragnor-rs commented on #44
@clementjouannet would you please provide a related stack trace?

[2020-02-10 09:05] ragnor-rs opened #46 "EXC_BAD_ACCESS KERN_INVALID_ADDRESS"
[code]

Device
Model: iPhone XR
Orientation: Portrait
RAM free: 93.88 MB
Disk free: 18.26 GB

Operating System
Version: 13.3.1 (17D50)
Orientation: Portrait
Jailbroken: No

[2020-02-12 18:29] ragnor-rs commented on #46
@onikiri2007 @BlueChilli would you please guys take a look and release a new version?

it would be also great to include fixes for #39

[2020-02-13 13:16] clementjouannet commented on #44
@ragnor-rs After further tests, i realized that the problem wasn't from the "Background processing" not enable. I was launching too many tasks at the same time, and the crash was coming from this. By enabling only one task running at the same time, the app doesn't crash anymore

[2020-02-14 21:49] omar-vasquez-dev commented on #45
I had the same problem I solved it as follows

`
             headers: {
              "Content-Type": "application/json"
            },
             data: {
              "auth": json.encode(object)
              ...
             }
`

I hope I helped you

[2020-02-22 09:49] singlakaran commented on #19
@ened  when will you release new version?

[2020-02-24 10:27] bshankar-coder commented on #37
So, is there any update on resumable TUS upload, even I'm looking for this feature.

[2020-03-19 16:42] kawaki122 opened #47 "upload hangs"
I copy pasted code from download page and ran it but it didn't work upload hangs without showing any progress

[2020-03-22 07:52] #47 closed

[2020-03-22 07:53] kawaki122 commented on #47
I was doing it wrong

[2020-03-22 20:02] TahaMalas opened #48 "There are no items to upload error"
I've been trying to use `flutter_uploader` library in order to upload multiple images in the background.

This is the file path I am getting:
`/storage/emulated/0/DCIM/Camera/IMG_20200322_211944.jpg`

And the result I am getting is this error in `onError` function

` code:invalid_files, message:There are no items to upload`

Also the app has permissions to reach the storage any suggestions?

[2020-04-13 16:38] tony123S opened #49 "uploader.result.listen call twice"
[code]

When first time I call this,  `uploader.result.listen` will only print one. But if I call this method again,  `uploader.result.listen` will call twice. Why?

[2020-04-13 22:00] onikiri2007 commented on #49
Do u cancel ur subscription before subscribing again 2nd time? Then you are attaching listener twice. You do not need to call listen twice though

[2020-04-14 01:01] tony123S commented on #49
How do I cancel listener?

[2020-04-14 08:54] tony123S commented on #49
fixed.

[2020-04-14 08:54] #49 closed

[2020-04-14 21:50] nehadroid2332 opened #50 "Upload notification show in Android status bar but not in iOS status bar"
I have code running on Android is working fine where it show notification in status bar when video upload started but same code not working for iOS. It uploads video but doesnt show anything in the status bar. Can you please help on this?

[2020-04-24 09:47] phanirithvij commented on #42
@DhruvamSharma It is not fired some times for me when I tried using the example app. Could you make that PR, please?

[2020-04-30 11:11] ahujamanish commented on #46
@onikiri2007 any updates on this issue? and for crash referred in #39

[2020-04-30 11:15] ahujamanish commented on #39
@ragnor-rs did you hear any updates on this issue? I'm seeing similar crashes at my end.

[2020-04-30 11:16] ened commented on #46
@ragnor-rs @ahujamanish how to reproduce the crash?

[2020-04-30 11:19] ahujamanish commented on #46
If you initiate multiple (binary) upload tasks, I get a crash in the `didSendBodyData` delegate method.

[2020-05-01 22:51] ragnor-rs commented on #39
@ahujamanish not really

[2020-05-01 22:52] ragnor-rs commented on #46
@ened it does seem to appear randomly. more likely with multiple tasks as @ahujamanish said

[2020-05-02 15:03] ened commented on #46
@ragnor-rs ok. I will take a look over the weekend. We need some refactoring / cleanup on the iOS side anyway.

[2020-05-02 16:04] ahujamanish commented on #46
@ened @ragnor-rs i was able to fix the issue. I’ll do a few test runs and I’ll raise a PR.

[2020-05-10 05:07] majordio opened #51 "result message from server is null but shown on log"
![image](https://user-images.githubusercontent.com/50364640/81491405-e9ac9800-92c0-11ea-8b30-b9256cc322fe.png)
![image](https://user-images.githubusercontent.com/50364640/81491411-fa5d0e00-92c0-11ea-8cda-ee9cbd4fe204.png)

[2020-05-18 06:45] nikolaychernov commented on #46
any updates?

[2020-05-18 08:08] julien-h opened #52 "Support for SSL server and client certificates"
Hello,
My server only allows collection from sources with a SSL client certificate. How can I add one to this plugin's connexion?

[2020-05-18 08:12] ened commented on #52
It's not supported just yet. The underlying frameworks (Okhttp & NSUSLSession) should support it though.

[2020-05-18 08:16] julien-h commented on #52
thanks, so I can't use this plugin?

[2020-05-18 13:27] tony123S opened #53 "Data cannot occupy more than 10240 bytes when serialized"
My code used to work last time, but now keep hitting this error

[code]

[2020-05-20 12:49] vince83110 opened #55 "Is it possible to send base64 file in body instead of form-data ?"
I use an API where I need to pass base64encoded File String to post my file.

And your plugin allows to avoid the error I have for now : when my user leave the app, the file is not sent, and won't be send...
I tried it, it's perfect, but is there any way to change form-data format ?

I checked your code, and honestly didn't see where I could change it..

[2020-05-24 15:12] syonip opened #56 "How to upload to Firebase Cloud Storage"
Hi,
Wanted to check if there's a way to use this for saving files to Firebase Cloud Storage.
The firebase plugin doesn't provide a url to upload to.

Thanks.

[2020-05-24 19:40] ened commented on #56
Not at this moment, @syonip. FlutterFire is shifting gears currently, and perhaps it's part of the work done there.

I would suggest to look at `flutter_workmanager` and schedule a repeating task that way. Once the upload in the task is done, stop scheduling it.

[2020-05-24 19:40] #56 closed

[2020-05-24 19:41] ened commented on #52
Not at the moment, we do welcome a PR.
From your work with Client certificates, is there a way to configure a host to client certificate  "mapping" globally? If so, you may be able to import OkHttp classes and set a default security config or similar.

[2020-05-25 10:44] syonip commented on #56
OK, thanks.

[2020-05-27 12:43] ThalapathySiva opened #57 "IOS Crash"
*** First throw call stack:
(
        0   CoreFoundation                      0x00007fff23e3cf0e __exceptionPreprocess + 350
        1   libobjc.A.dylib                     0x00007fff50ba89b2 objc_exception_throw + 48
        2   CoreFoundation                      0x00007fff23e5dc34 -[NSObject(NSObject) doesNotRecognizeSelector:] + 132
        3   CoreFoundation                      0x00007fff23e

[2020-05-27 19:28] Lukitaduarte commented on #50
[code]
This feature is not available for IOS as the documentation says...

[2020-05-29 05:43] tony123S commented on #53
Am i the only one face this?

[2020-05-30 17:40] tony123S opened #58 "Data cannot occupy more than 10240 bytes when serialized"
My repo class

[code]

**Page A**

[code]

**Error**

`Error from PageA :  taskId: 7f5cf18b-ec62-44c6-ac41-fd73da0fcd0e, status:UploadTaskStatus(4), statusCode:500, code:upload error, message:java.lang.IllegalStateException: Data cannot occupy more than 10240 bytes when serialized}, tag:g4gg`

I use api tool to test, my api is working.
`

[2020-06-18 02:02] KonAtPropertyMe commented on #57
I also got a crash on iOS if I tried to do more than one task at a time. By setting FUMaximumConnectionsPerHost and FUMaximumUploadOperation to 1 it fixed the problem for me -  it will single thread things, but that is better than crashing. I can't remember if my crash was the same one as above.

[2020-06-19 04:46] widi-aryanto commented on #53
I faced the same problem. Even in the app that I released last month.

[2020-06-19 18:26] spiritinlife commented on #38
I had the same issue @ainulya16 . Did this pr if you want to take a look https://github.com/BlueChilli/flutter_uploader/pull/54
@ened

[2020-06-22 06:19] KonAtPropertyMe opened #59 "Unable to upload app to app store: Info.plist key 'BGTaskSchedulerPermittedIdentifiers' must contain a list of identifiers ..."
After building and sending to the app store the build is rejected because of:

`App Store Connect Operation Error: ERROR ITMS-90771: "Missing Info.plist value. The Info.plist key 'BGTaskSchedulerPermittedIdentifiers' must contain a list of identifiers used to submit and handle tasks when 'UIBackgroundModes' has a value of 'processing'. For more information, refer to the Information Property List K

[2020-06-28 09:01] agnoam opened #60 "Upload file by its content bytes"
How do I upload a file by its content bytes (Uint8List) ?

[2020-07-02 12:18] kedark-ix opened #61 "cannot find symbol import com.bluechilli.flutteruploader.FlutterUploaderPlugin;"
I have upgraded my flutter recently which introduced a new issue to me

**Log of the issue is**

`\android\app\src\main\java\io\flutter\plugins\GeneratedPluginRegistrant.java:15: error: cannot find symbol
import com.bluechilli.flutteruploader.FlutterUploaderPlugin;
                                     ^
  symbol:   class FlutterUploaderPlugin
  location: package com.bluechilli.flutteruploader`

`\

[2020-07-14 05:14] joshuadeguzman opened #62 "[outdated plugin in pub.dev] [question] When is the latest version of this plugin going to be uploaded in pub?"
It's been a while since the last change was deployed to the pub.dev, I'm curious if there are any plans on publishing the latest releases introduced here?

People creating tutorials might opt-in to to tell their audience to fork this and reference the package on their own forks, which may be trivial for some newcomers.

Thank you.

[2020-07-15 10:04] ened commented on #60
I would suggest you write the contents into a temporary file first (it needs to live a bit longer than `cache`, you can find a suitable directory using the `path_provider` plugin), and then pass the path to FlutterUploader.

[2020-07-15 10:04] #60 closed

[2020-07-15 18:13] ened commented on #53
@tony123S @widi-aryanto Can you please post reproducible steps, e.g. the code that triggers this and perhaps the file you are trying to upload?

[2020-07-15 18:15] ened commented on #19
Going further, this plugin should call create a isolate-while-running that informs a callback when the upload has finished in the background. We can probably follow that `flutter_workmanager` has done.

[2020-07-15 18:15] ened commented on #33
Please submit reproducible steps & detail logs using adb logcat.

[2020-07-15 18:15] #33 closed

[2020-07-15 18:16] ened commented on #34
Please submit reproducible steps & logs.

[2020-07-15 18:16] #34 closed

[2020-07-15 18:17] ened commented on #38
@ainulya16 The PR at #54 got merged. You can test the changes using:

[code]

[2020-07-15 18:17] #38 closed

[2020-07-16 06:49] tony123S commented on #53
@ened  I actually solved it. The problem is because server return too much `json` element.

[2020-07-16 07:32] #53 closed

[2020-07-16 07:33] #58 closed

[2020-07-16 08:23] ened commented on #44
Seems like this issue is a duplicate of #57

[2020-07-16 08:23] #44 closed

[2020-07-16 16:57] ened commented on #55
Please take a look at the enqueueBinary method.

[2020-07-16 16:57] #55 closed

[2020-07-16 16:58] ened commented on #61
@kedark-ix hi!

Can you please give my WIP fork a try:

In pubspec.yaml, add this to the `dependency_overrides` section:

[code]

[2020-07-16 16:59] ened commented on #62
Yes, it is planned from my point of view, after:
 - Android Embedding V2
 - High priority bug fixes Android (e.g. server errors can cause a endlesss loop)
 - High priority bug fixes iOS

[2020-07-16 17:23] ened opened #67 "Server / connection errors mid-progress may cause endless error loop"
This relates to the issue outlined in https://github.com/flutter/flutter/issues/61546.

When a connection goes away **during** a upload, the the response sink currently generates almost endless stream of errors.

Instead, the error should be reported only once and further transfer should be cancelled.

[2020-07-17 04:36] kedark-ix commented on #61
Fix my issue. What I did is just clean the local code and again clone the code. In the new code, it is not showing me an error.

[2020-07-17 04:36] #61 closed

[2020-07-17 06:51] ened commented on #51
Which upload method did you use? Please share a few more details.

[2020-07-17 12:54] majordio commented on #51
hi im using the `uploader.enqueue()` method

upload code:

      url: url,
      files: [FileItem(filename: file.path.split('/').last, savedDir: file.parent.path, fieldname:"file[]")],
      method: UploadMethod.POST,
      data: {
        "order_type": "$orderType",
        "type_id": "$type",
        "order_id": "$id",
      },
      showNotification: true,
      tag: "Upload File #$orderType.$t

[2020-07-19 12:34] utkarshmarwaha opened #69 "Notification click doesn't work"
I am trying to upload a large file in parts and and would want to allow user to click on notification showing progress to open a certain page on the app where he can see the list of parts uploaded.

But clicking on notification doesn't work. Please suggest.

[2020-07-20 09:09] ened commented on #69
Can you try adding a intent filter for your main activity:

[code]

[2020-07-20 09:09] ened commented on #69
Also, is this on Android / iOS?

[2020-07-20 09:12] utkarshmarwaha commented on #69
@ened  this was for android.

In iOS, notifications doesn't show since its not supported.

I'll check with the intent filter as well.

[2020-07-20 09:13] ened commented on #69
Ah, my bad.

Yes please check & also check the logcat output.

[2020-07-20 09:15] ened commented on #40
This is fixed, at least in the master branch. Please check out the latest code.

[2020-07-20 09:15] #40 closed

[2020-07-21 18:44] ened commented on #69
You could try the PR (it has instruction on testing) that is linked here.

[2020-07-22 05:46] ened commented on #51
Please try the PR here https://github.com/BlueChilli/flutter_uploader/pull/70

There has been work done on progress / result storage and it may cover your problem as well.

[2020-07-22 08:12] majordio commented on #51
Hi, tried the PR but still wont show the response, nice new functionalities though, specially on the notifications
![image](https://user-images.githubusercontent.com/50364640/88152061-102e6e00-cc36-11ea-9dfe-1da76ce05fcb.png)

[2020-07-22 11:07] ened commented on #51
Could you refer to this file https://github.com/BlueChilli/flutter_uploader/blob/c9aedd412abb515b50a2b1b6319c682d253aa802/example/test_driver/flutter_uploader_test.dart or even build a test case to showcase the problem?

[2020-07-22 13:40] majordio commented on #51
I got it now, fixed by modifying the server response Content-Type to application/json instead of text/html. Thanks for the help.

[2020-07-22 13:40] #51 closed

[2020-07-23 16:50] chornbe opened #71 "data is not being sent on POST calls"
Doing a pretty basic upload with some key/value pairs added to the data element. When I inspect the req.body in my node API, the body is empty. I'd expect the data information to be there just like when I do a regular http.post(...) call using its body parameter.

[code]
In my nodeJs API function, req.body is empty.

But, doing a regular http.post...
[code]
In my nodeJs API function, req.body is p

[2020-07-23 18:34] ened commented on #71
I think you may need to use something like a busboy middleware to extract the fields. The request on the top (using flutter_uploader) creates a `multipart/form-data` request whereas the one on the bottom posts json directly.

[2020-07-23 19:08] chornbe commented on #71
This is me walking away shaking my head because... duh! Dumbass me. Thanks!

[2020-07-23 19:08] #71 closed

[2020-07-23 19:22] ened commented on #71
No worries. Btw, would be great if you have a minute to test #70 - should be good for your use case.  👍

[2020-07-26 11:17] AshrafLP opened #72 "IOS issue"
the plugin does not work at all in iOS, I diid all configs required  but when start the task uploader.progress.listen start listening for a few seconds then it stop or hangs on

[2020-07-26 11:50] ened commented on #72
@AshrafLP hi! Please share more details on your environment, flutter version, plugin versions and on the integration code.
Also, please note that the plugin is currently undergoing significant improvements which should also help with issues such as the one you reported.

For the moment, please test the master branch of this repository as well as the PR in #70  - which will eventually become mainli

[2020-07-26 11:55] AshrafLP commented on #72
Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel dev, 1.21.0-1.0.pre, on Mac OS X 10.15.6 19G73, locale en-GB)

[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.1)
[✓] Xcode - develop for iOS and macOS (Xcode 11.6)
[✓] Android Studio (version 4.0)
[✓] Connected device (2 available)

• No issues found!

[2020-07-26 12:51] agnoam opened #73 "How to send nested object in data"
How do I send a nested object type:
[code]
in `data` field of background_uploader ?

[2020-07-26 13:33] agnoam commented on #45
Any news about this ?

[2020-07-27 08:38] AshrafLP commented on #72
this is what happening when am trying to upload any file.
any advise??

flutter: progressing.......
flutter: progressing.......
flutter: progressing.......
flutter: progressing.......
flutter: progressing.......
flutter: progressing.......
flutter: exception: taskId: chillisource.flutter_uploader.upload.background.7, status:UploadTaskStatus(4), statusCode:500, code:upload_error, message:The operat

[2020-07-27 11:35] agnoam commented on #73
Hey, I found a fix for this.
It's a little bit messy one, just put a `jsonEncode()`
on the nested object and send it as a string

[2020-07-27 11:37] agnoam opened #74 "Hide task id from Android notification"
How to hide the bolded task_id from Android notification ?

[2020-07-27 12:02] ened commented on #73
This is actually the recommended way. Consider that the plugin sends a multipart/form-data request, in which the contents are sent as form fields.
The plugin _could_ encode the payload, but should be a decision done by the user of the plugin.

We will address this as a documentation update in the future, thank you.

[2020-07-27 12:02] #73 closed

[2020-07-27 12:03] ened commented on #74
Currently not possible. I recommend to check out the work done in #70 , which showcases full customisation abilities for developers using the FlutterLocalNotifications plugin.

[2020-07-27 21:27] agnoam opened #75 "Get onDone once the app opened"
How to get the `onDone()` callback event at the time the application in the foreground,
even if the app was in the background when it fired ?

[2020-07-28 04:54] rahul-alld opened #76 "Upload not working on Android 9 and 10"
Hi,
Using flutter_uploader(latest version), I'm trying to upload images/videos on server. Same is working fine on Android 7. But in Android 9 and 10, it is failing. In fact request is not reaching to the server.
Please guide to fix the problem.

[2020-07-31 09:23] #19 closed

[2020-07-31 09:23] #36 closed

[2020-07-31 09:23] #42 closed

[2020-07-31 09:23] #50 closed

[2020-08-10 05:47] scofield-hello commented on #59
I got the same error

[2020-08-11 01:19] KonAtPropertyMe commented on #59
Hi @scofield-hello, I just added the following to the runner `info.plist` and it went away:
`<key>BGTaskSchedulerPermittedIdentifiers</key>`
`	<array>`
`		<string>com.your.app.identifier</string>`
`	</array>`

[2020-08-11 02:03] scofield-hello commented on #59
it works for me, thanks !

[2020-08-11 17:14] jaijkjk opened #77 "MIME type error"
while upload  video file, to sever mime type not available

 Response: Array
 (
   [file] => Array
      (
          [name] => 2020-08-11_22:19:44.937078.mov
        [type] => */*
         [tmp_name] => /tmp/phpDIxaZ3
        [error] => 0
            [size] => 2875729
        )
 )
 Response header: {"Keep-Alive":"timeout\u003d5, max\u003d100","Server":"Apache/2.4.18 (Ubuntu)","Connection":"Keep-Al

[2020-08-19 09:44] Curvel opened #79 "iOS: FlutterUploaderIsolate.[number].profiler EXC_BAD_ACCESS (code=1, ... ) while uploading"
I know here are other issues regarding **EXC_BAD_ACCESS** errors #39, but I'm not sure if they are related to each other or if this is a new one. If it's a duplicate, feel free to merge the issues or close the issue.

Anyway, when I simply try to upload one file I get sometimes this error which completely crashes the app.
![image](https://user-images.githubusercontent.com/13559511/90616435-b9548e0

[2020-08-19 10:17] ened commented on #79
@Curvel Thank you for testing the branch, I appreciate it.

I will try to reproduce this issue asap.

[2020-08-19 10:27] Curvel opened #80 "iOS: Terminated due to memory issue"
After uploading one or multiple files the app crashes due to a memory issue. This happens at around 1:30 min. after the upload is started/finished (not sure).

The only log I get is: **Message from debugger: Terminated due to memory issue**

On my iPad it is reproducible 100% of the time.

My three plist keys are:
FUMaximumConnectionsPerHost: 1
FUMaximumUploadOperation: 1
FUTimeoutInSeconds: 3600

[2020-08-19 10:33] ened commented on #80
How big is the file, roughly?

[2020-08-19 10:40] Curvel commented on #80
It's just a tiny **.pages** file with 100KB

[2020-08-19 12:24] ened commented on #76
@rahul-alld can you please try the latest version from git

[2020-08-20 07:17] conall1995 opened #82 "Cant Upload File without catchError"
i am trying to upload an image file
its work fine in some of devices but not all
some device like android v 4.4.4 and ...
`Start uploading for up
I/dalvikvm(20584): Rejecting re-init on previously-failed class Lokhttp3/internal/platform/Platform; v=0x0
E/WM-WorkerWrapper(20584): Work [ id=6bbb38d3-f97a-4f61-8170-d522d6ddca42, tags={ com.bluechilli.flutteruploader.UploadWorker, flutter_upload_task

[2020-08-20 07:28] ened commented on #82
@conall1995 thx for the report - can you confirm this error is only happening on Android 4.4 ?

[2020-08-20 07:34] conall1995 commented on #82
nope
i think this exist on android 4.x.x
tested on 4.4.4 and 4.1.x
my code work fine on android 5 and 7 and 8

[2020-08-24 08:08] andykitt opened #84 "The method 'setBackgroundHandler' isn't defined for the type 'FlutterUploader'"
Hi,

I'm getting this error:

`The method 'setBackgroundHandler' isn't defined for the type 'FlutterUploader'`

[code]

Am I missing something? Also, do I need to make the `AppDelegate changes` that are in the GitHub readme? They are not in the pub.dev instructions?

[2020-08-24 08:23] #84 closed

[2020-08-24 08:24] andykitt commented on #84
I've closed this issue. Is the Github readme out of date?

[2020-08-24 08:32] ened commented on #84
@andykitt if you are using the code from Github's master branch, then you may need some adjustments. Please check the example in `example/lib/main.dart`.

[2020-08-26 17:19] levichevdmitry opened #85 "Wrong Accept header in Android"
On android platform incorrect Accept headers:
Now - application/json **;** charset=utf-8
Must be - application/json **,** charset=utf-8
See: https://github.com/BlueChilli/flutter_uploader/blob/dbdc47d33905cc05ae939ab2d5bec2e678923703/android/src/main/java/com/bluechilli/flutteruploader/UploadWorker.java#L217
Because- https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept
It was broken wo

[2020-09-03 15:02] ened commented on #85
@levichevdmitry thx & the issue is resolved in #86 , please give it a try

[2020-09-04 23:14] ened commented on #74
Please try the current `master` branch.

[2020-09-04 23:14] #74 closed

[2020-09-04 23:16] ened commented on #69
Please try with the current `master` branch.

[2020-09-04 23:16] #69 closed

[2020-09-06 18:33] ubxty opened #89 "Is this still Maintained ? Any update coming ?"

[2020-09-07 07:20] ened commented on #89
Yes, a few bug fixes need to be addressed first (iOS errors mostly) and the current master branch could need a bit more community testing for the new isolate code. After that, V2.0 should be released - we also have some breaking API changes.

[2020-09-07 07:20] #89 closed

[2020-09-08 09:33] jayant1441 commented on #79
Hey this error was thrown in simulator but in real device it works

[2020-09-08 09:36] ened commented on #79
That is interesting. I almost never test in the simulator except for the automated tests. 😀

[2020-09-10 08:58] #85 closed

[2020-09-10 14:20] ened commented on #76
Please open a new ticket with reproducible steps.

[2020-09-10 14:20] #76 closed

[2020-09-11 20:37] Amospikins opened #90 "I wanto to ask if it is possible to send only text with this plugin"

[2020-09-11 20:47] Amospikins commented on #82
I also noticed this too....
didnt work on 4.x.x only from 5

[2020-09-16 15:05] daniel-vera-g opened #92 "Platform request: web support"
As I could see from the pub description, flutter web is currently not supported.

Nevertheless, it would be great to support also web :smile:

Looking forward for your take on it.

[2020-09-16 15:46] ened commented on #92
How would you handle the upload in the background on web, using a web worker or similar?

[2020-09-19 07:44] daniel-vera-g commented on #92
Yeah, a web worker with an asynchronous upload using the web File API sounds good :+1:

[2020-09-19 11:16] ened commented on #92
@daniel-vera-g can you start collecting links / demos or sample code even for this ticket? There is more work to be done before this can start (e.g. unified plugin transition, iOS fixes) and the transfer to flutter community as a whole.

[2020-09-21 16:06] volser commented on #40
I got this error too.
How to reproduce: try to upload a file with name `.nomedia`

`getMimeTypeFromExtension` returns null

https://developer.android.com/reference/android/webkit/MimeTypeMap#getMimeTypeFromExtension(java.lang.String)

PR:
https://github.com/BlueChilli/flutter_uploader/pull/93

[2020-09-22 17:17] rynhrn opened #97 "Failed to upload on large mp4 file. 'code: upload_task_error, error: okhttp3.internal.http2.StreamResetException: stream was reset: CANCEL'"
I get this error when uploading a relatively large MP4 file (~100/200mb). Sometimes it would happen nearing the end of upload or 1/4 of the way through it, but it happens regardless. The device I'm using is Samsung Galaxy S8 running Android version 9. Have not been able to test on an iOS device so not sure if it happens on those. Using the latest version of flutter_uploader too (1.2.0).

Code to r

[2020-09-25 12:55] MICKEY88661 commented on #80
I have the same issue and it's five 20Mb picture

[2020-09-25 19:02] daniel-vera-g commented on #92
Well, regarding the File upload itself:

1. File Dart API: https://api.dart.dev/stable/2.9.3/dart-html/File-class.html
2. Example js upload process: https://developer.mozilla.org/en-US/docs/Web/API/File/Using_files_from_web_applications

Regarding web workers, MDN also has good documentation:

* https://developer.mozilla.org/en-US/docs/Web/API/Web_Workers_API/Using_web_workers
* https://developer.

[2020-09-28 09:40] MICKEY88661 commented on #72
same issue here, it works on android but doesn't work on ios

`flutter_uploader:
    git:
      url: git://github.com/BlueChilli/flutter_uploader.git
      ref: master
`

`Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel unknown, v1.17.0, on Mac OS X 10.15.6 19G73, locale zh-Hant-TW)
[✓] Android toolchain - develop for Android devices (Android SDK version 30.0.2)
[✓

[2020-09-28 17:40] tony123S opened #98 "Send list param"
Hi, how can I send  list as data parameter ?

[code]
Thanks

[2020-10-01 05:47] kadnan0900 commented on #97
@rynhrn
Hi,
can i use the library in production app Is it that much stable or not ?

[2020-10-04 17:18] ened commented on #45
@royibernthal hi - did you solve the problem with the solution @omar-vasquez-dev suggested?

[2020-10-04 17:19] ened commented on #59
@jayant1441 thank you for your comments - please open a separate ticket for any iOS issues (please also test using the latest beta). We do appreciate a PR rgd. missing documentation. 👍

[2020-10-06 18:20] kadnan0900 opened #103 "Is this library that much stable to use in Production App ? Please guide me"

[2020-10-06 18:30] ened commented on #103
We use it in production successfully. If you have specific issues, please don't hesitate to open them on Github.

[2020-10-06 18:30] #103 closed

[2020-10-06 19:01] kadnan0900 commented on #103
@ened when you will update this library because i see their was a last update of Stable versions of flutter_uploader on
1.2.0 | Nov 5, 2019 because i have to use this library in my production app and i am really excited to use this lib in my app.

[2020-10-06 19:10] ened commented on #103
@kadnan0900 I suggest you start by testing the beta version of the plugin in your app and report issues.

[2020-10-07 09:45] Konoshenko opened #104 "Error when try use 'flutter build apk'"
* Where:
Settings file 'C:\dev\flutter\.pub-cache\git\flutter_uploader-a93e43324fc4f0689e42b80972f1443145d9a088\android\settings.gradle' line: 2

* What went wrong:
A problem occurred evaluating settings 'flutter_uploader'.

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run with --scan to get full insights.

* Get more help at

[2020-10-07 10:28] ened commented on #104
Dear @Konoshenko could you please share more details on the environment and of course which version of the plugin are you using? Is it the beta version from `pub`?

[2020-10-07 13:35] Konoshenko commented on #104
@ened
I`m use version:
`flutter_uploader: ^2.0.0-beta.3.`
And my flutter:
[code]

[2020-10-07 17:49] MohammedYAmmar opened #105 "Upload file from ram without using file path"
Upload file directly from ram without using file path

[2020-10-08 15:41] AhmedNourJamalElDin opened #106 "Terminated mode in 1.2.0"
Hello,

I would like to know if the file is uploaded or failed if the application is in terminated mode.

As I see in the doc there is a background handler that does the job but it's not in version `1.2.0`. is there any way to do this in `1.2.0` or I have to update to v2.

Do you plan to publish the newer version to pub.dev soon? should I switch to master version?

Thanks

[2020-10-08 17:49] ened commented on #106
The background handler is only available in 2.0 onwards and it's available from pub as well.

[2020-10-08 17:51] AhmedNourJamalElDin commented on #106
Oh it is a prerelease.
Thanks

[2020-10-08 17:51] #106 closed

[2020-10-09 16:34] AhmedNourJamalElDin opened #107 "How to get Tag in the result or progress streams"
Hello,

I am using version `2.0.0-beta.3` and I would like to use the tag attribute.
As stated in the documentation,

I should be able to access it, and I have tried something like this:

[code]

but it didn't work because UploadTaskResponse has no attribute called tag.

so the question is how to access it?

[2020-10-15 02:12] MICKEY88661 opened #108 "Hot reload after upload will cause error"
I'm using

and this is my flutter doctor:

And I'm running my project on an ios emulator.
No error comes out before or after I upload an image, but once I hot reload, it comes out

I'm not sure if it related to isolates? Can someone give me an answer?

[2020-10-16 02:54] jeromekai opened #109 "支持分段上传吗？"

[2020-10-16 12:21] ened commented on #109
The question translates "支持分段上传吗" => Do you support multipart upload?

The answer for that is **yes**. Please ask any follow up questions in English, though. Thank you.

[2020-10-16 12:21] #109 closed

[2020-10-16 12:27] jeromekai commented on #109
support multipart upload？

---原始邮件---
发件人: "Sebastian Roth"<notifications@github.com&gt;
发送时间: 2020年10月16日(周五) 晚上8:22
收件人: "fluttercommunity/flutter_uploader"<flutter_uploader@noreply.github.com&gt;;
抄送: "Author"<author@noreply.github.com&gt;;"Jerome"<1641194779@qq.com&gt;;
主题: Re: [fluttercommunity/flutter_uploader] 支持分段上传吗？ (#109)

The question translates "支持分段上传吗" =&gt; Do you support multipart

[2020-10-23 07:07] Dheena32 opened #110 "Need to track the progress based on particular taskId"
I got the taskId but how to track the progress or result for that particular taskId

[2020-10-23 07:09] Dheena32 opened #111 "data param should allow <String, dynamic>"
As of now data param allowing only <String, String>
Please add provision for allowing <String, dynamic>
so that we can send multiple level of json format like ,
   { product: {
    name: ['Apple', 'Orange']
     }
   }

[2020-10-23 08:02] ened commented on #111
@Dheena32 I'm thinking to replace the data parameter with a generic ByteList, so that you could send anything you'd like. The uploader is currently forcing JSON but it should really be up to the API user. Thx for the feedback.

[2020-10-26 12:09] kadnan0900 commented on #110
@Dheena32 did you find any solution ?

[2020-10-27 10:45] Techno-Disaster opened #112 "Firebase Integration"
Is there any update on firebase integration?  I saw this on the main page

Firebase integration: there's a conflict problem between WorkManager and Firebase library (related to Guava library). The problem is expected to be resolved in new version of Guava and Gradle build tools. For now, you can work around it by adding some codes to your build.gradle (in android folder).

But could not find any d

[2020-10-27 12:34] kadnan0900 opened #113 "I am using new version of flutter_uploader but not seen the notification parameter in new version flutter_uploader 2.0.0-beta.3"

[2020-10-27 14:02] ened commented on #113
Hi @kadnan0900 thank you for your message. Can you please share more details? What is not working exactly how?

Have you checked out the example project, yet?

[2020-10-28 13:59] Dheena32 commented on #110
No, i didnt got any solution

[2020-10-29 05:00] anu788 opened #114 "Option to add fields in http multi part post request."

[2020-10-29 18:05] AngelDevs commented on #110
hello @Dheena32.

the steps that i take to do this is:
1 - Create a class to hold the data of the files that i will upload like [progress] and [status]. (let's call it [UploadItem]).
2 - Create a stream subscription that will listen for the progress. (there is a property [FlutterUploader().progress])
3 - when i upload a file, i create and hold the state of a new [UploadItem]
4 - the progress strea

[2020-11-03 14:58] vanfresh commented on #72
Not sure if it will help your case, but I was about to get ios to work by
1) enabling 'background processing' in the signing capabilities section
2) adding this to the info.plist

`<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.your.app.identifier</string>
	</array>`

[2020-11-05 10:05] #114 closed

[2020-11-05 13:14] fervidautomation opened #115 "I want to add a record on every automatically in every 2 second and list should refresh it but it is not working"
I am trying with Stream , want to add a record automatically on every 2 second and list should refresh it but it is not working. When Clicking on home screen I am getting the data but automatically stream is not getting called.

I am creating a random record insert into database after that adding to list of patients which all are already listed and in the patients collection.

***import 'dart:asyn

[2020-11-05 13:18] #115 closed

[2020-11-05 15:59] mohanasundaramn opened #116 "Unable run app after adding the plugin"
## Error log
[code]
## Flutter Doctor
[code]
using flutter_uploader: ^2.0.0-beta.3

[2020-11-06 14:42] ykiran opened #117 "Upload task stops after uploading files and does not return the result and status. Android only."
### Flutter Doctor -v output

### Plugin version: 1.2.0

### New upload task
[code]
### Invocation
[code]

### Issue in detail
We have a bunch of images that need to be uploaded. Every image uploaded will have a flag set in the database.
Once all the images are uploaded, the task flag will be set in the db.
As such, we have broken down the images into batches of 5 each.
Using this strategy worked

[2020-11-06 15:41] petroniuchacz opened #118 "Some tasks don't resume upload after connection recovery"
[√] Flutter (Channel stable, 1.22.1, on Microsoft Windows [Version 10.0.18363.1082], locale en-US)
    • Flutter version 1.22.1 at C:\src\flutter1.22.1\flutter
    • Framework revision f30b7f4db9 (4 weeks ago), 2020-10-08 10:06:30 -0700
    • Engine revision 75bef9f6c8
    • Dart version 2.10.1
[√] Android toolchain - develop for Android devices (Android SDK version 29.0.3)
    • Android SDK at C:

[2020-11-09 15:16] volser commented on #104
I got the same error

[2020-11-09 17:18] ened commented on #104
Hi there, AGP 4.x is not yet support by Flutter: https://github.com/flutter/flutter/issues/58247.
Assuming you both run into this and therefore will close the ticket.

[2020-11-09 17:18] #104 closed

[2020-11-16 04:48] Techno-Disaster commented on #112
Found a workaround [here](https://github.com/FirebaseExtended/flutterfire/issues/2670)

[2020-11-16 04:48] #112 closed

[2020-11-23 11:18] agnoam commented on #105
You can take your `Uint8ByteCode` put it in a temporary file, and give the `FlutterUploader()` the path of the temp file.
After it finishes you can run a callback function that will delete those files.

[2020-12-04 07:28] UzairSun93 commented on #118
I am facing the same issue only in android devices..

[2020-12-04 10:06] jeromekai opened #119 "In the android source code, the “clearUploads” method is incomplete"
In the android source code, the clearUploads method is incomplete. Are you considering adding a cache cleaning and database cleaning?
Now you can only release the cache by exiting the application.
version 2.0.0-beta3.0

[2020-12-04 10:41] ened commented on #119
@jeromekai Good point, I'll need to check whether the `clearUploads` logic makes sense here.

Android's WorkManager keeps a record of work done - in our case uploads finished. I am a bit hesitant to clear that as it's a single API and we may clear work that is not scheduled by the uploader, but instead could be created by the `workmanager` package.

[2020-12-04 10:45] jeromekai commented on #119
Is there any other solution to clear the cache

[2020-12-04 10:48] jeromekai commented on #119
I see a clear method related to the ios source code

[2020-12-04 11:10] ened commented on #119
@jeromekai What problem are you facing with the current APIs?
What is working / not working or different than expected?

[2020-12-07 01:24] jeromekai commented on #119
@ened Sometimes the upload list does not need to be visible every time, I hope this method is Clear the cache in the plugin while clearing the upload, or give a separate method to clear the cache

[2020-12-07 05:10] stackved commented on #79
We are facing the same as well. Any solution?

[2020-12-07 07:50] UzairSun93 opened #120 "Loging Request"
can we log the request of Multipart request ..because currently i am unable to diagnose the failure result ?

[2020-12-17 12:05] UzairSun93 commented on #120
Now i figured out this ...As we have listen the progress and results of tasks

[2020-12-17 12:05] #120 closed

[2020-12-17 12:09] UzairSun93 commented on #119
Somehow i am facing the same issue ... can we delete or remove the specific task from cache, because   (StreamSubscription<UploadTaskResponse> _resultSubscription );  will give us all the results every time
...??

[2020-12-17 13:13] ened commented on #119
@jeromekai @UzairSun93 understood. Will take a detail look asap.

[2020-12-18 23:42] joshoconnor89 commented on #80
this is a really bad issue theres some sort of memory leak going on

[2020-12-21 05:55] UzairSun93 commented on #49
@tony123S how this has to be fixed can you please specify the steps ?

[2020-12-21 19:16] kadnan0900 opened #122 "uploader.result.listen call too many times"
` uploader.result.listen((result) async {
          print("response " + result.response);
        }, onError: (ex, stacktrace) {
          print(ex.toString());
        });
 }`

When first time I call this, uploader.result.listen will only print one. But if I call this method again, uploader.result.listen will call almost 10 to 16 times. Why?

Version 2.0.0-beta.3

[2020-12-21 19:17] kadnan0900 commented on #122
<key>FUMaximumUploadOperation</key>
<integer>3</integer>
IOS app crash which i configure 3 number of concurrent task

[2020-12-21 19:19] kadnan0900 commented on #122
i want to use this library in production app please release a stable version because i am facing too many issues in Version 2.0.0-beta.3

[2020-12-21 19:22] kadnan0900 commented on #122
how i can delete the specific task from cache ?

[2020-12-21 19:25] kadnan0900 commented on #122
Some tasks i can not resume after connection recovery ?

[2020-12-22 02:19] tony123S commented on #49
@UzairSun93

dispose it

[code]

[2020-12-22 06:34] ened commented on #122
@kadnan0900 can you share more details on:

Is this in the simulator or a actual device?

Please share a stack trace or similar, I will look at this now.

This function is not available yet, will look at it now.

Please outline your test case.

[2020-12-22 09:00] ened commented on #119
@jeromekai @UzairSun93 - this will be resolved in the upcoming version `2.0.0-beta.4`

[2020-12-22 09:00] #113 closed

[2020-12-22 09:03] ened commented on #116
@mohanasundaramn the error message seems to be:

[code]

Please try to modify your projects Podfile and set the platform version to 10.0; which is the minimum deployment target for this plugin.

[2020-12-22 09:03] #116 closed

[2020-12-22 09:09] #119 closed

[2020-12-22 09:26] ened commented on #118
@petroniuchacz @UzairSun93 Please try again using 2.0.0-beta.4. My test case worked fine:
 - Start upload
 - Enable Airplane mode
 - Disable Airplane mode
 - Uploads will continue

Existing uploads may restart from the beginning.

[2020-12-22 09:28] ened commented on #122
@kadnan0900 can you please check the latest version 2.0.0-beta.4 and also see the documentation. For specific problems, please open separate issues with detailed test instructions.

[2020-12-22 09:28] #122 closed

[2020-12-22 09:28] ened commented on #117
Please test again using 2.0.0-beta.4.

[2020-12-22 09:29] ened commented on #110
I think you have found a solution?

[2020-12-22 09:29] #110 closed

[2020-12-22 09:31] ened commented on #105
This is out of scope for this plugin, sorry. The upload will potentially run when the App is NOT running, thus the file needs to be available from disk.

[2020-12-22 09:31] #105 closed

[2020-12-22 11:01] #98 closed

[2020-12-22 11:01] #111 closed

[2020-12-22 11:02] ened commented on #90
You can save the text into a file stored on the phone, then upload from there.

[2020-12-22 11:02] #90 closed

[2020-12-22 11:03] ened commented on #77
@jaijkjk Please submit more details. What is working / not working. What did you expect & what is the current result?

[2020-12-22 11:30] ened commented on #97
@rynhrn I've seen issues like that on S7 and S8 devices in the past. When the WiFi signal is being used like this, the connection may become unstable.

Unfortunately there is not too much we can do except retrying the upload.

Alternatively, you could try to upload the file in chunks and let the server put it back together.

Please try using the latest beta version of the plugin as well and open a

[2020-12-22 11:30] #97 closed

[2020-12-22 12:47] ened commented on #72
@AshrafLP this looks like a server issue from the logs:

[code]

Please open a new ticket if the issue is rooted in this plugin.

[2020-12-22 12:47] #72 closed

[2020-12-22 12:57] #46 closed

[2020-12-22 12:57] #57 closed

[2020-12-22 12:58] ened commented on #46
A fixed version is now available: 2.0.0-beta.5. Looking forward to your feedback.

[2020-12-22 12:58] ened commented on #57
A fixed version is now available: 2.0.0-beta.5. Looking forward to your feedback.

[2020-12-22 12:59] ened commented on #39
Please try the latest version 2.0.0-beta.5 - which includes a fix for this problem.

[2020-12-22 12:59] #39 closed

[2020-12-22 13:01] ened commented on #79
Please try it again with the latest version 2.0.0-beta.5 which includes a fix for this problem.

[2020-12-22 13:01] #79 closed

[2020-12-22 13:02] ened commented on #45
Please manually encode the form fields. You can refer to the [integration test](https://github.com/fluttercommunity/flutter_uploader/blob/c955965ff947d37df554cfca665b88eacf9b75e8/example/integration_test/flutter_uploader_test.dart#L89) for details.

[2020-12-22 13:02] #45 closed

[2020-12-22 13:04] ened commented on #108
@MICKEY88661 I'm currently not sure what the detail issue is here. Please try with the latest version & also share reproducible steps. Please re-open the ticket if you have more information.

[2020-12-22 13:04] #108 closed

[2020-12-22 13:04] ened commented on #75
You can not use onDone as the App may have been terminated.
Please try the new background isolate code in the 2.0.0-beta versions.

[2020-12-22 13:04] #75 closed

[2020-12-22 13:05] ened commented on #80
@joshoconnor89 @Curvel please retry this with the latest beta version 2.0.0-beta.5. If you can still reproduce it, please provide a sample app.

[2020-12-22 18:31] ened commented on #48
Please reopen a new issue against the latest beta version 2.0.0-beta.5 with detailed steps to reproduce the problem and errors logs.

[2020-12-22 18:31] #48 closed

[2020-12-22 18:32] ened commented on #41
Please open a new issue against the latest 2.0.0-beta.5 version if the issue is still present.

[2020-12-22 18:32] #41 closed

[2020-12-22 18:33] ened commented on #67
This should be fixed in 2.0.0-beta.5 as well.

[2020-12-22 18:33] #67 closed

[2020-12-24 06:22] UzairSun93 opened #131 "Can't able to upload file from ios"
i am unable to sent a file from ios ... our app server didn't receive any data when i post the request from iphone ? In android its working fine ..

Here is my code :

 //this function will uploads file using flutter uploader

  Upload _buildUpload(String path, String token, Con.Data data, String mobID) {
    final tag = 'upload';
    Map<String, String> header = new Map();

    header['Content-Ty

[2020-12-24 09:50] ened commented on #131
Please collect detailed logs when running your app through Xcode.

[2020-12-24 10:29] UzairSun93 commented on #131
Thanks for your immediate response ! i have just fixed that issue ...i think the problem was occurring when i manually put the "Content-type " in request header..
So i just remove that line :
header['Content-Type'] = 'application/json; charset=utf-8';

 Now it's working fine .

[2020-12-24 10:48] #131 closed

[2020-12-24 16:14] Konoshenko opened #132 "The application crashes after trying to upload a file."
I add file in enqueue method [look screenshot]
In previous package version 2.0.0-beta3 everything work fine.

This code snippet show how I handle download process.
But I don't hit the listener breakpoints
[code]

<img width="1082" alt="Screenshot 2020-12-24 at 19 18 01" src="https://user-images.githubusercontent.com/15077780/103098789-1d082100-461d-11eb-84cf-5d6263012b3e.png">

[2020-12-24 17:16] ened commented on #132
@Konoshenko can you please upload a reproducible example or share more details on what works / does not work. I can not follow the bug description 100%.

[2020-12-24 17:52] Konoshenko commented on #132
@ened I'll try to make an example project tomorrow. What additional details can help you?

[2020-12-24 17:54] ened commented on #132
You mention there's a crash - so a stack trace and logs would help.

Also have you tested it using the latest beta.5 version as well?

A reproducible example would be super - it will then become part of the test suite of this project.

[2020-12-24 19:13] Konoshenko commented on #132
1. Stack trace log for you. [stack_trace.txt](https://github.com/fluttercommunity/flutter_uploader/files/5740375/stack_trace.txt)
2. Version witch I use in screenshot.
<img width="595" alt="Screenshot 2020-12-24 at 22 12 14" src="https://user-images.githubusercontent.com/15077780/103103860-15547680-4635-11eb-96bf-013c2ec80cc6.png">

[2020-12-24 23:27] ened commented on #132
Ok confirmed, will fix tomorrow.

[2020-12-25 10:39] Konoshenko opened #133 "Trouble with flutter build apk. Build failed with an exception."
When I use `flutter build apk ` or `flutter run --release` I get error.
But if I use `flutter build appbundle` build working correct.

Look at the attached file.

[build_logs.txt](https://github.com/fluttercommunity/flutter_uploader/files/5741774/build_logs.txt)

[2020-12-25 12:44] ened commented on #133
Do you get the same error when compiling the example app of this repository?

Please share flutter version as well.

[2020-12-25 21:32] Konoshenko commented on #133
Flutter 1.22.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision 1aafb3a8b9 (6 weeks ago) • 2020-11-13 09:59:28 -0800
Engine • revision 2c956a31c0
Tools • Dart 2.10.4

When try `flutter build apk` on /example build work. But I use version 2.0.0 beta 3 in my project. This could be the reason?

[2020-12-26 06:51] lanistor commented on #40
@ened How to fix it in 1.x versions?

[2020-12-26 08:10] ened commented on #132
@Konoshenko can you try the code in #134 ?

[code]

[2020-12-26 09:13] ened commented on #40
@lanistor You can try renaming the file beforehand to something like log.txt.

Thinking that the plug-in should not determine the mime type by itself and instead delegate it to the user.

[2020-12-26 09:15] ened commented on #133
Looks like it may be a issue in your project setup. Will close unless you can upload a sample project that reproduces the error online.

[2020-12-26 09:15] #133 closed

[2020-12-26 09:26] ened commented on #107
@AhmedNourJamalElDin `tag` is currently used internally only - but I will try to reactivate it. It is likely to become a list of tags which you can assign.

[2020-12-26 09:29] lanistor commented on #40
@ened Or add a parameter on `uploader.enqueue` function to pass to android? If MimeType is necessary, this seems a better way to resolve.

[2020-12-26 09:31] ened commented on #40
@lanistor yes, exactly. The idea is to pass mimeType when scheduling the upload and remove all _detection_ code from the native side.

[2020-12-26 09:34] #132 closed

[2020-12-26 09:40] lanistor commented on #40
@ened I saw this is resolved in branch master, not in tag 1.2.0, i guess this may be resolved in version 2.x.
But we are using 1.2.x, and 2.x is not compatible with our project.
So will you repaire it in version 1.x?

[2020-12-26 09:41] ened commented on #40
@lanistor no - unfortunately there is not enough time to maintain 1.2.x for me. I'd be happy to review & merge a pull a request though,

[2020-12-26 10:18] lanistor commented on #40
@ened I added i [pull request](https://github.com/fluttercommunity/flutter_uploader/pull/136) to resolve it, had run test case.
I didn't found a branch of 1.x, so i add `branch master` as base, but this will be wrong. May you checkout a new branch to receive this pull request?

[2020-12-26 19:16] AhmedNourJamalElDin commented on #107
Thanks for response.
I am no longer uploading files in background i.e. I'm not using this package at thr moment.

Accordingly, I will close this issue.

[2020-12-26 19:17] #107 closed

[2021-01-01 11:47] kadnan0900 opened #138 "Can we cancel one particular task not whole list?"
///
  /// Cancel all enqueued and running upload tasks
  ///
  Future<void> cancelAll() async {
    await _platform.invokeMethod<void>('cancelAll');
  }

  /// Be careful, clearing this list will clear this list and you won't have access to it anymore.
  Future<void> clearUploads() async {
    await _platform.invokeMethod<void>('clearUploads');
  }

[2021-01-01 13:38] ened commented on #138
There should be a method called `cancel`:

[code]

If this is not available, please try testing the latest 2.0.0 beta version.

[2021-01-01 13:38] #138 closed

[2021-01-02 03:04] Maxim-Mazurok commented on #118
I'm having the same issue in my app on Android 30 emulator. If I remove the app from recently opened (quit, but not force stop) and if I leave the emulator locked - it'll eventually start failing to resolve the host in my background worker.

Then when I wake up the device, go to chrome - I can access the internet. And background worker will succeed in making HTTP request again, without needing to

[2021-01-02 07:48] ened commented on #118
@Maxim-Mazurok please share details on your phone model and OS.

Sounds like this issue: https://eu.community.samsung.com/t5/galaxy-a-series/no-internet-when-i-lock-my-phone/td-p/1249349

The plug-in currently requires WiFi to function thus it makes sense this will stop when WiFi is gone (and the phone is in BG).

[2021-01-02 08:02] Maxim-Mazurok commented on #118
Disclaimer: I'm not using this plugin, just getting a similar error with my own code.

@ened I'm running on an Android Studio emulator.
Pixel 3a, API 30 (Android 11.0) x86: `sdk_gphone_x86_arm-userdebug 11 RSR1.201013.001 6903271 dev-keys`

I've checked the wifi policy:
[code]
and it's "Keep WiFi on during sleep: Always"

I've had Battery Manager On though. I've disabled it and will see how it goe

[2021-01-02 14:43] Maxim-Mazurok commented on #118
Update: I can confirm that now, with Battery Manager turned off I get network access in my worker reliably.
So, it must be it, I guess.

[2021-01-08 20:46] m-jabrane commented on #15
Hello,

For anyone who's having the same issue building a release app in Android. I added the required configuration, described in `Readme`, into my `build.gradle` (in `android` folder), but it doesn't work.

Using:
[code]
It shows the error below:
[code]

So for my case, I just changed the value `android.enableR8`, in my `gradle.properties` file, from `false` to `true` without any additional conf

[2021-01-13 02:16] Destreyf opened #139 "[Feature Request] Callback/Pre-upload script"
I was wondering if it'd be possible to have a method get called before it starts an upload, this method would retrieve a Signed URL for uploading to a service like Google Cloud Storage or Amazon S3.

In our application (currently written in Ionic/Corvdova, now being ported to flutter) a user may take or select up to 250 photo's at a time, and possibly video file(s) in the future, on top of that we

[2021-01-13 15:01] crsmillan commented on #49
@tony123S  this isn't enough , my code still call multiple times the same task

[2021-01-14 15:22] tony123S commented on #49
@crsmillan  maybe paste your code?

[2021-01-14 17:01] ganeshrvel opened #141 ""result.listen" is not emitting the response object in flutter_downloader: ^1.5.2"
I tried to use the package (version "1.5.2") in my application and everything is working file except that the `result.listen()` method isn't working. It's not emitting an event for us to capture and process the response from the API.

Phone: "Oneplus 6"
OS: "Android 10"

code:

[code]

The `progress.listen` method is emitting event just file while the `flutterUploader.result` event is silent even

[2021-01-14 17:19] ganeshrvel opened #142 "Multiple API requests are happening while trying to upload a file in the latest beta version of "flutter_uploader""
I tried to use the package (latest beta versions) in my application. The events are emitting correctly but the package is making huge amount of network requests while the file is being uploaded.

I noticed that the package made around **92 API requests** under 5 seconds!! I am attaching a redacted API request log along with the issue. [uploader.log](https://github.com/fluttercommunity/flutter_uplo

[2021-01-14 18:08] ened commented on #142
@ganeshrvel thank you for reporting the bug. The `.result` callback is currently called too often. You can try to keep a persisted list of downloads completed and ignore them once you see the same result again in the `.result.listen` callback.

[2021-01-14 18:12] ganeshrvel commented on #142
@ened The issue I reported is not about stream value, it's more of huge amount of api requests happening when I use `.enque` method. The API call is happening multiple times, something like 92 calls per second, Which is creating that many new posts in our backend server.

[2021-01-15 21:22] ened commented on #142
@ganeshrvel can you share a bit more details, like how big the file size is? I'm not sure yet how this could happen.

[2021-01-19 10:26] kadnan0900 opened #143 "can we cancel mupltipicker of each file ? i mean if i select 5 images at a time through FilePicker and i want to cancle one of them ? Is this possible or not in file_uploader_best_6?"

[2021-01-19 10:29] kadnan0900 commented on #143
I know their is two method in beta_6 cancelAll and cancel but they work on specific one task right if i select one 5 images at a time through file picker and send to enqueue it will consider that multiple images as one task.so i want to cancel one of them image. Is it possible in beta_6 or not ?

[2021-01-19 11:50] kadnan0900 commented on #143
@ened

[2021-01-19 14:12] ened commented on #143
You can only cancel a task at a time, not single file within a task. If you want to cancel single files, then enqueue them separately.

[2021-01-19 14:12] #143 closed

[2021-01-20 04:53] kadnan0900 commented on #143
Thanks for the reply @ened

[2021-01-20 10:31] kadnan0900 opened #144 "_resultSubscription calls too many times. version flutter_uploader_beta6"
StreamSubscription<UploadTaskResponse> _resultSubscription;

    _resultSubscription = uploader.result.listen((result) async {
      print("Result Result Result Result Result");
      print("onResponse : " + result.response);
      print(result);
      print(
          'IN MAIN APP: ${result.taskId}, status: ${result.status}, statusCode: ${result.statusCode}, headers: ${result.headers}');

      v

[2021-01-20 10:41] kadnan0900 opened #145 "can we clear one specific task from memory ? i can see their is only one method which clear all task in beta_6 ?"

[2021-01-21 07:43] Nemowxy opened #146 "MissingPluginException"
Sorry, I tried a lot of methods but still did not solve it. I would like to ask why this error occurs. The 1.2.1 version is correct, and 2.0.0-beta6 will be like this.
`======== Exception caught by services library ======================================================
The following MissingPluginException was thrown while activating platform stream on channel flutter_uploader/events/progress:
Miss

[2021-01-22 05:15] kadnan0900 commented on #145
@ened  ??

[2021-01-22 05:18] kadnan0900 commented on #145
///Clear a given upload task
  ///
  /// **parameters:**
  ///
  /// * `taskId`: unique identifier of the upload task
  ///
  Future<void> clearSpecificTask({@required String taskId}) async {
    await _platform.invokeMethod<void>('clearUpload', {'taskId': taskId});
  }

the method will be look like this if you update it will be very thank full.

[2021-01-22 06:30] ened commented on #145
This will probably not be available as clearUploads calls pruneWork on android work manager.

https://developer.android.com/reference/androidx/work/WorkManager

It's either remove all or nothing.

[2021-01-22 06:30] #145 closed

[2021-01-22 07:45] kadnan0900 commented on #145
is it possible to remove that particular task or all that tasks which is successfully uploaded to the server?

[2021-01-22 12:03] ened commented on #145
Yes, but that is on the library user to implement. The uploader should do just uploading, not much more. The book-keeping as it is exposed right now (results available after uploads are finished) is just a convenience for app developers. I'm considering to drop it. @kadnan0900

[2021-01-22 22:31] adnankhan74444 opened #147 "In ios if i kill the app does it will work or not because right i am facing one problem when i killed the app and come back again all the process doesnt work.its only work when i am in foreground?"

[2021-01-25 17:11] adnankhan74444 commented on #147
Don't consider this issue as a bug because that was a problem from my side and thank you so much for this library its fulfil all my requirements 👍 once again thank you so much.
But one to two issue's which i see:
1.uploader.result.listen((result) triggers so many times.
2.its not an issue but i think their should be one method for clear Specific from memory when its completed.
Any how thank you so

[2021-01-25 23:36] aaqibism commented on #107
Will it be possible to activate tag or a custom attribute of some sort in future versions? The main reason I want it is because I want to watch the show the progress of potentially multiple uploads to a user, but for now it's impossible to do so because I cannot determine which UploadProgress corresponds to the one shown in the UI. Thank you for the help.

[2021-01-27 09:20] ened commented on #107
@aaqibism yes - that is probably a good way.

Are you interested in documenting your approach in the Wiki? Others may find it helpful.

[2021-01-27 14:27] aaqibism commented on #107
Sure, that sounds interesting. Although I’m not entirely if I chose the best solution for communicating between isolates. I ended up using a Send and Receive port as I found most reliable.

[2021-01-27 14:45] ened commented on #107
Send & Receive Port is a good way. You can use IsolateNameServer to register by name etc. There are a few caveats like timeouts, receiver gone, response missing etc..

[2021-01-28 00:33] aaqibism commented on #107
@ened Would you still like me to document on the Wiki or no?

[2021-01-29 04:15] akhildexlock opened #148 "javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found."
I am using flutter uploader(1.2.0) in one of my projects for uploading audio files to my server. It worked fine for me but when the server updated with SSL (HTTPS), it couldn't upload my files.
I have got an error like "javax.net.ssl.SSLHandshakeException: java.security.cert.CertPathValidatorException: Trust anchor for certification path not found.".

The server's SSL certificate is signed by CA a

[2021-01-30 06:11] 1232209 opened #149 "How to build a upload task when my server need specific format?"
**"fileDownload":{
   "file":""
   "path":"/sda1/fwp"
}**
my server need formdata like this...

[2021-02-03 12:39] GhezaeGoitom opened #150 "Uploading audio not working"
when i try to upload audio the request content-type is changed to "audio/mpeg" but the file is mp3

[2021-02-03 13:50] ened commented on #150
OK, we will change this by removing the mime type detection logic from the plugin completely.

[2021-02-04 05:51] GhezaeGoitom commented on #150
thank you @ened, could you give me any hints for temporary fix.

[2021-02-05 08:42] ened commented on #150
Please take a look at the source code. You may be able to set the Content-Type header yourself.

[2021-02-06 18:45] ganeshrvel commented on #142
i have tried upload files on multiple sizes. The same issue is happening with files of any file size.

Found a similar issue here: https://github.com/fluttercommunity/flutter_uploader/issues/144

[2021-02-07 03:02] 1232209 commented on #149
when change version to 2.006beta,it is work!

[2021-02-07 03:02] #149 closed

[2021-02-07 06:22] 1232209 opened #151 "[Question][How to get All uploadTasks?]"
I want to display all tasks to mu user,but I did not find any api.
somo one know?

[2021-02-07 15:13] ganeshrvel commented on #142
hey i found the issue. i had to call `clearUploads()` before every upload. The previous upload tasks were showing up in the  `.result.listen`.

BTW, what is the difference between `clearUploads()` and `cancelAll()`?

[2021-02-09 05:48] qianxuechao commented on #146
http://blog.z7ge.com/archives/flutter-missingpluginexception-bu-yao-huang 希望能帮到你

[2021-02-09 06:44] adnankhan74444 commented on #147
Still facing the same problem.

[2021-02-09 09:57] ened commented on #146
@Nemowxy please show more details on the stack trace and perhaps a bit of code that triggers it. Based on the details submitted, I can not help you.

[2021-02-16 08:22] adnankhan74444 commented on #147
any update on this bug ?

[2021-02-17 22:36] kyungjoongo commented on #144
same issue

[2021-02-18 08:27] matthewjs commented on #144
It seems that when restarting a flutter application the first call to enqueue a new upload produces a number of UploadTaskResponses to be fired on the uploader's result.listen channel.  These tasks are all marked as Enqueued in their status, but they are in fact previous Complete.  I think a workaround is to call clearUploads(), but we can only really do that if all items have been marked as compl

[2021-03-11 16:25] miguelquo commented on #148
Same here.

[2021-03-12 10:35] ened commented on #148
Is the server publicly available?

[2021-03-12 21:41] miguelquo commented on #148
No sorry, but recently I just updated to 2.0.0-beta6 and seems like it works now, but the error message still shows.

[2021-03-15 17:17] shoxter opened #153 "java.lang.Integer cannot be cast to java.lang.Long"
Whenever I call `setBackgroundHandler` upon booting up my app, I get the following error:

`Unhandled Exception: PlatformException(error, java.lang.Integer cannot be cast to java.lang.Long, null, java.lang.ClassCastException: java.lang.Integer cannot be cast to java.lang.Long`

I am using the exact background handler code from the README.

Stack trace is as follows:

[code]

[2021-03-23 20:52] stackved commented on #97
I was facing the same issue. I have fixed it. It happens on Android due to constraint on android's work manager. It is allowed to run only for sharp 10 minutes. Can I please take this up ?

I want to contribute to open source.. first timer.

[2021-03-23 20:54] stackved commented on #151
@ened I have implemented this on my fork. Can I take this up please?

[2021-03-25 01:14] 1232209 commented on #151
can i get your fork?

[2021-03-28 08:03] weissmanuel opened #154 "flutter_uploader null safety migration"
Hi, are there any plans to migrate this package to null safety?

[2021-03-30 07:10] ened commented on #154
Tracked in [nullsafety](https://github.com/fluttercommunity/flutter_uploader/tree/nullsafety) branch. Hope to complete this week.

[2021-03-31 08:04] #154 closed

[2021-04-01 01:24] gracegyu opened #157 "Because flutter_uploader_example depends on flutter_uploader from path which requires SDK version >=2.12.0 <3.0.0, version solving failed."
When I run 'pub get' the example I meet below error

The current Dart SDK version is 2.12.0-141.0.dev.

Because flutter_uploader_example depends on flutter_uploader from path which requires SDK version >=2.12.0 <3.0.0, version solving failed.
pub get failed (1; Because flutter_uploader_example depends on flutter_uploader from path which requires SDK version >=2.12.0 <3.0.0, version solving failed.

[2021-04-01 11:31] ened commented on #157
@gracegyu you could use the previous version `2.0.0-beta.6`.

In your pubspec file just refer to `flutter_uploader: 2.0.0-beta.6`

[2021-04-01 11:31] #157 closed

[2021-04-05 07:21] agnoam commented on #139
If you want to run a callback when the upload finishes, you can use this code:
[code]

[2021-04-12 22:45] #146 closed

[2021-04-13 09:28] killov opened #158 "FUMaximumUploadOperation not working in beta 2.0.0-beta.6"
When enqueue more upload tasks than 3, all uploads are in progress at the same time

[2021-04-16 15:08] miguelquo commented on #148
I just figured out that the problem is not related to this library but the certificates of the server. To make it work you will need check your server, or change some configs in Okhttp to accept bad/wrong certificates.

[2021-04-16 15:44] ened commented on #148
Thank you

[2021-04-16 15:44] #148 closed

[2021-04-26 06:09] jordanhart opened #159 "Retry logic"
Hi!

There does not seem to be an easy way for failed uploads to automatically retry. Would it be possible to either link an example on how to do this or add a feature request?

Thank you!
Jordan

[2021-04-29 11:53] samigimix opened #160 "iOS simulator upload returns 500"
Hello!

I used the bellow function to upload .JPG and .PDF file. It works on **Android** and it logs the progress too, but in **iOS Simulator** after 2 seconds it shows the following error: (Also i used .enqueue too but get same result)

### **CODE:**

[code]

### **ERROR:**

### **FLUTTER DOCTOR:**

[✓] Flutter (Channel stable, 2.0.1, on macOS 11.2.3 20D91 darwin-x64, locale en)
[✓] Android toolc

[2021-05-06 10:17] bachras commented on #58
I am having same issue with 3.0.0-beta.1

[2021-05-06 11:32] ened commented on #58
@bachras please open a new ticket with detailed stack trace, logs and ideally a example project to show the problem. Thank you.

[2021-05-06 12:49] bachras commented on #58
Thank you for prompt response. I just found an answer in https://github.com/fluttercommunity/flutter_uploader/issues/53 . API was sending long server exception response. Thanks

[2021-05-06 12:55] bachras opened #161 "Unable to receive multiple files in one array on server side"
Hi,

Thanks for great package. I am able to send single file and everything works perfectly fine, but when I try to send multiple files, I can access only first file. After I have realised that field name is same for all images which requires every file to have different field name in order to access all files on server side. Is there any way to send multiple files and access in one array on serve

[2021-05-06 13:24] ened commented on #161
I think that is a server side problem. Please check how your backend handles multiple uploads sent with the same name.

[2021-05-06 14:09] bachras commented on #161
I have managed to retrieve all the files in one array on server side. If someone struggle and uses Laravel as backed, just use $request->allFiles(). Thank you for prompt response once again @ened

[2021-05-06 14:09] #161 closed

[2021-05-09 18:56] huynguyennovem opened #162 "MultipartFormDataUpload does not work as expected same as old version"
I tried to upgrade the latest version from `1.2.1` to `3.0.0-beta.1` same as below:

- Old:
[code]
**-> Result: Upload successfully**

- New:
[code]
**-> Result: Upload fail with error log:**

[code]

I have tried the solution from [#2738](https://github.com/square/okhttp/issues/2738), but the same error.
Does anyone have an idea for this?

[2021-05-11 09:43] zyz963272311 opened #163 "BackGround"
您好，英文不好，所以一下问题为机器翻译。
最近在使用flutter_uploader框架，但是似乎只能在当前界面使用，如果退出界面或者退出程序之后，无法再继续监听到附件上传。
另外插件中不支持数据查询，则在第二次进入app中，无法显示哪些附件的上传状态，则我自己也无法根据状态来判断我自己的附件需要显示的状态，类似手机上的云盘附件上传功能，本应该支持断点续传，停止和开始。

Hello, English is not good, so the problem is machine translation.

I've been using flutter recently_ Uploader framework, but it seems that it can only be used in the current interface. If you exit the interface

[2021-05-12 05:14] scattered-code opened #165 "Background upload in ios using version 3"
The uploader works great while the app is in the foreground, but the uploads fail as soon as the app enters the background on iOS.

Here's some additional behavior I noticed:
Local notifications fire even if the app is in the background
The server sees the request being aborted by the client (app)
I save the files I attempt to upload in a sqflite db, and retry them from the background thread once

[2021-05-13 20:03] mbabker opened #166 "`java.lang.ClassCastException` when setting background handler on Android"
When my app is making the `FlutterUploader().setBackgroundHandler()` call, it's triggering a `java.lang.ClassCastException` on Android because an Integer cannot be cast to Long.

[code]

This is with 3.0.0-beta.1 of this package running on an Android 11 emulator using Flutter 2.0.6 from the stable channel.

[2021-05-14 12:27] bachras commented on #58
@ened I have fully implemented your package into my app and now I have same error when I receive large json response. Do you know any workaround for large than 10kb responses. I was trying to compress response on backend and decompress flutter but I need response in bytes and file uploader gives me string as response. Any ideas how to get response in bytes List<int> format. Thank you in advance

[2021-05-14 16:24] ened commented on #58
@bachras please open a new ticket with details on that comment. I think the uploader should do a lot less - parsing the response (& forcing a JSON response) may not be what is needed. We could, like you said, just provide a way to get the response bytes.

[2021-05-17 06:58] bachras opened #167 "Ability to receive responseBytes and avoid 'Data cannot occupy more than 10240 bytes' error"
I have fully implemented your package into my app and now I have an error 'Data cannot occupy more than 10240 bytes when serialized' also mention in https://github.com/fluttercommunity/flutter_uploader/issues/58 when I receive larger json response.

Do you know any workaround for large than 10kb responses? I was trying to compress response on backend and decompress flutter but I need response in b

[2021-05-17 10:51] ened commented on #167
@bachras I assume this is on Android, right? Can you just post a stack trace for reference? I will look at this asap.

[2021-05-17 14:40] bachras commented on #167
Yes, it's Android. Currently using flutter_uploader: ^1.2.1 (haven't updated app to null-safety yet, but had same issue on flutter_uploader latest version (3.0.0-beta.1) on different app as well)

[code]

[2021-05-17 16:05] ened commented on #167
If you are using 1.2.1, help may be unavailable. The plugin's 3.0.0-beta.1 version is likely to go stable in the coming weeks, no support for 1.2.1 can be provided currently.

[2021-05-18 12:55] yurijdvornyk opened #168 "Upload error in the app in release mode."
I am trying to upload a file to S3 with a presigned URL.
Everything works fine in debug build, however when I run the app in release mode, I am getting the following error:

[code]

Then, I am getting 500 response (despite everything is fine, the URL is valid and I have full permissions to write to S3 bucket). What could cause such behavior?

[code]

[2021-05-18 13:43] ened commented on #168
@yurijdvornyk which plugin version are you using?

[2021-05-18 13:45] yurijdvornyk commented on #168
@ened , I have to use 3.0.0-beta1 to be able to use it in the project with sounding null-safety.

[2021-05-19 06:52] bachras commented on #167
I appreciate that 1.2.1 version support is no longer available and that's fine. I am planning to update it anyway, I just wanted to point out for reference purposes. As I mentioned earlier same issue occurs on 3.0.0-beta.1 version as well. Thanks

[2021-05-27 08:41] bachras opened #173 "File upload stops working once app is killed on iOS - example app"
Hi,

I have tried example app and it seems to work. I have changed url to send to my server and it work fine, but when I start sending files on iOS and straight kill the app, only few files are sent and the rest never come. Android acts a bit different it stops sending as well once app is killed and sends partial request, but after few moments it sends full request with all the files. Am I missing

[2021-05-27 09:39] ened commented on #173
@bachras this may be due to how the background processing is currently handled. iOS side is using the "Fetch" background mode, which runs at most once a day and when the phone is idle. Try to connect your phone to a power source. Additionally, background fetch requests may get cancelled on iOS when the App is killed (using swipe -away from task manager). I'll research a bit on that.

[2021-05-27 17:06] armendarabyan opened #174 "Maximum number of concurrent tasks doesn't work in android"
I am trying to set concurrent tasks to 1 and it doesn't work both in my app and in example provided, please help
[code]

[2021-05-27 17:09] PeriyanAra commented on #174
Having the same issue. Uploads are being done parallel on android

[2021-05-28 11:34] ened commented on #173
@bachras please see the discussion in https://developer.apple.com/documentation/foundation/urlsessionconfiguration/1407496-background
If you kill the App using the task manager, then iOS will cancel the upload tasks.

[2021-05-28 11:34] #173 closed

[2021-05-28 11:40] ened commented on #165
@scattered-code can you reproduce this problem with the example app? Can you collect any logs? Is this reproducible on a emulator, for example?

[2021-05-28 11:40] ened commented on #163
@zyz963272311 Does this happen on Android, or iOS?

[2021-05-28 11:49] ened commented on #160
@samigimix could you please try this with the latest version (3.x)

[2021-06-03 10:06] MustafaAdam opened #175 "Beginner question: Can I use this plugin to upload images to Firebase Storage?"
Apologies if the question is stupid.

I'm having a problem with my app where I want the user to upload multiple images to Firebase Storage.
This is a very very slow process.
Can I use this to solve this slow upload problem?
Can I use it for uploading in a separate isolate?

Again, I sincerely apologize if the question is irrelevant or doesn't make sense.
I'm a beginner.

[2021-06-04 13:18] ninnepinne opened #176 "Objective-C support/example"
How can the new/beta version (>1.2.1) be used on iOS in a Flutter project using Objective-C?

Thank you!

[2021-06-07 01:50] beeflash5 opened #177 "Uploading video not recognized as video but image jpg"
Im following the example method on pub.dev about uploading image or video, as for the image its works great, but when i try to upload video, its not uploaded as video rather its uploaded as .jpg files too, i notice in example the mediatype for image is set to Video, but this just proves that its not recognizing whether it should upload video or image, take notes that there's nothing wrong with bac

[2021-06-09 09:18] jeghedderchristoffer opened #178 "Uploading progress updating in bulks"
Uploading progress updating in bulks rather than on each new progress, which makes the uploading progress very "bulky". It also looks like the progress is falling behind the actual uploading, making it go from 50% to complete in one bulk.

Expected behavior: Progress goes from 0% to 1% to 2% to 3% etc.
Actual behavior: Progress goes from 0% to 20% to 40% to 100%.

How to reproduce: Use your code i

[2021-06-09 09:24] jeghedderchristoffer commented on #178
Here is a screenshot using the code from /example. You can clearly see it goes from 0 - 3 - 8 - 23 - 47 - 90 making it update in bulks
![image](https://user-images.githubusercontent.com/17568855/121328989-16dcd700-c915-11eb-92d7-e3dbb473f2b7.png)

[2021-06-09 17:39] prakash-cr7 opened #179 "WorkerWrapper(26016): Worker result FAILURE for Work [ id=3ad40d26-67e6-48da-ab93-7c65fda47bf3, tags={ flutter_upload_task, com.bluechilli.flutteruploader.UploadWorker } ]"
I am stuck on this error. can't even figure out what's causing it. plz help!

[2021-06-13 21:21] akhelij commented on #167
Facing the same problem on 3.0.0-beta.1. Any solution yet !

[2021-06-17 22:50] samigimix commented on #160
@ened

I checked the GitHub page and realized that I didn't implement the `AppDelegate` changes but also using the `flutter_downloader` too so here is the final app delegate:

[code]

but it shows an error for the `1.2.1` version in my Xcode:

and regarding your suggestion to use the latest version, I used the `3.0.0-beta.1` version and got this error after tapping on the upload button:

#0      S

[2021-06-18 06:16] ened commented on #160
Looks like you are specifying the local path in RawUpload anywhere. Maybe `tag` should be `path` really?

[2021-06-18 06:26] samigimix commented on #160
@ened yes, exactly. In the `1.2.1` version the parameters are different but in the `3.0.0-beta.1` version there is just a `tag` parameter to define the `path`.

[2021-06-18 06:37] ened commented on #160
@samigimix are you sure? There should be a path parameter.

[2021-06-18 07:35] samigimix commented on #160
@ened I restarted the IDE and finally, the path parameter appeared! So I used the path and don't have an error in uploading part of the code, but after `listening for the response`, it shows an error and also didn't log the `uploader worker` to see the upload progress. I double-checked this new code with the same version on `android` and everything is fine. I also tried the `MultipartFormDataUploa

[2021-06-18 07:45] samigimix commented on #160
for another file I got this error:

and for another type of file :

[2021-06-18 11:11] #179 closed

[2021-06-19 19:21] armendarabyan commented on #174
@ened Please review and merge my pull request

[2021-06-20 11:30] #174 closed

[2021-06-20 11:59] ened commented on #160
this line seems to cause the error:

[code]

Can you confirm value.response truly contains json? Please print it before parsing.

[2021-06-20 13:20] samigimix commented on #160
@ened Yes, you're alright. But I tested this code for android and the response was ok. But in ios the response is :

So I think the uploading process still has a problem because it seems it didn't upload completely, so the response includes an error. Also, it doesn't show upload progress like android in the console.

[2021-06-21 10:46] ened commented on #160
OK interesting. It's a bit puzzling because we have stable integration tests running for this project which should catch this.

Would you like to contribute a new integration test which showcases the problem?

[2021-06-24 16:07] samigimix commented on #160
First of all thanks for your fast response. Unfortunately, because I didn't have such a time, I searched for an alternative, and [this article](https://dev.to/carminezacc/advanced-flutter-networking-part-1-uploading-a-file-to-a-rest-api-from-flutter-using-a-multi-part-form-data-post-request-2ekm) helps me to do it in another way.

[2021-06-24 16:07] #160 closed

[2021-06-24 18:26] Maistho commented on #175
Yes, although it probably won't solve the slowness problem

https://itnext.io/background-video-upload-to-firebase-storage-with-flutter-ee398b796656

[2021-06-30 07:11] neohboonyee99 opened #184 "iOS return 500 while using flutter uploader with version 1.x"
For android the flutter uploader works fine, the server able to upload the data. But for iOS, I meet this issue.
![3f1086db-3486-42f2-9b66-d2523640280f](https://user-images.githubusercontent.com/58653173/123916729-901b9700-d9b4-11eb-93e8-50604b952625.jpg)

Then, I have tried the flutter uploader with version 3.0 beta, it didn't appear this error, but it straight went into this line first and the p

[2021-07-05 11:44] litzbalane2017 opened #185 "Upload does not proceed with "No Network Security Config specified, using platform default""
Good Day.

I was using the plugin with no issues before, but after upgrading to the latest beta version ^3.0.0-beta.2. I am getting the following log: "D/NetworkSecurityConfig(23459): No Network Security Config specified, using platform default". Upload does not proceed.

I have the following flutter doctor:

Doctor summary (to see all details, run flutter doctor -v):
[✓] Flutter (Channel unknown,

[2021-07-09 07:19] rushikdave commented on #179
Hi, I am facing the same issue right now, please share with me if you have any solution to it.

[2021-07-12 10:29] Pato05 opened #186 "[question] How can you pass data to the background handler?"
Hi, I have noticed that you are able to specify a background handler, so that it can freely run in an isolate. Though, since Isolates do not share memory, how should you pass data between the main and the background isolate?
I need that for localization of the strings and also to keep track of each upload through an integer that increments after each upload.

Thanks in advance!

[2021-07-12 18:37] VictorLekweuwa commented on #179
I'm facing the same issue. Please, what is the fix for this error?

[2021-07-12 21:17] VictorLekweuwa commented on #179
I tracked the original error on this thread down to this

`D/UploadWorker(16131): Failed to upload - taskId: 1779ce1f-e608-447e-8ca1-c39d48623f7e, code: upload_task_error, error: java.net.SocketException: Connection reset`
and
`D/UploadWorker(16131): Failed to upload - taskId: 1779ce1f-e608-447e-8ca1-c39d48623f7e, code: upload_task_error, error: java.net.SocketException: Broken pipe`

as discussed

[2021-07-13 04:14] prakash-cr7 commented on #179
In my case, it was my fault. sometimes file didn't get picked and throw this error. Make sure to check if file is not null.

[2021-07-14 15:19] VictorLekweuwa commented on #179
In my case, I was using `UploadMethod.POST` instead of `UploadMethod.PUT`

[2021-07-20 18:50] lyio opened #187 "Is there support for wi-fi only uploads"
I know that Android WorkManager supports scheduling uploads for when there is a wi-fi connection. From what I gathered, the NSURLSessionConfiguration also supports restricting the uploads to wi-fi.

Will support for this be added to the plugin? Would this be more involved than adding a flag to the `UploadJob` and passing it all the way through to the native side?

[2021-07-21 04:37] ened commented on #187
Yes this should be a flag in dart which is picked up by the native side.

[2021-07-21 06:08] lyio commented on #187
The challenge with this approach is that the configuration is built immediately when the plugin is registered:

[code]

This is the place, where the flag would need to be respected and added to the configuration: `sessionConfiguration.allowsCellularAccess = someFlag`.

Since this configuration is only available in the initializer and the session is supposed to be longlived, I don't see a way to sc

[2021-07-21 06:32] ened commented on #187
@lyio could we have 2 sessions (wifi, wifi+cellular) and the uploader picks the right one depending on the flag?

[2021-07-21 06:56] lyio commented on #187
Configuring the session for wi-fi only uploads could be achieved similarly to how the background handler is attached.

[code]

We could add a method on the channel `configureSession` and invoke this method after the channels have been registered with the appropriate flag.

This only applies to iOS, of course, because on Android the WorkManger takes the wi-fi restriction on a per job basis, iirc.

[2021-07-21 06:59] lyio commented on #187
I could give this a try. Would this impact the backchannel to the Dart side of things? We would also have two session identifiers. But the `taskId` is not generated based on this identifier anymore, so that would not be a problem

[2021-07-21 07:14] ened commented on #187
@lyio Start by having 2 session objects in the swift plugin and choose between them according to the upload object (which needs a new constraint parameter, or boolean flag) passed.

You may not need additional methods on Dart side & only extend the Upload object.

[2021-07-21 07:27] lyio commented on #187
I have started to do just that. I will get a PR to you today. The only problem atm is that I do not have an iPhone that has cellular data. :)

My testing capabilities are limited right now.

[2021-07-21 07:55] ened commented on #187
Send something over, I'm happy to give it a spin later. Please do extend the example project with a checkbox or similar.
Thank you for looking at this issue! :-)

[2021-07-22 10:02] lyio commented on #186
My understanding is that you would need to handle that yourself somehow.

The background isolate has a FlutterEngine attached so that you can access the WidgetsFlutterBinding, but there is no BuildContext and no locale information readily available.

And you would probably need to handle communication between the isolates via send and receive ports.

I have a similar problem as I need to keep trac

[2021-07-22 10:12] Pato05 commented on #186
@lyio Yes, that's the main point, usually you can set up a sendPort when you spawn an isolate, so that you can have a communication between the GUI isolate and the background worker.
I've looked a bit into the source code or the internal documentation, but I couldn't find anything, that's why I asked here, and of course, you can't handle that on the GUI Isolate, which may die while the background

[2021-07-22 11:58] ened commented on #186
Look at IsolateNameServer & register a named port which you can look up.

Also, `moor` supports multi-isolate operation and you may be able to persist data in there.

[2021-07-22 12:39] Pato05 commented on #186
@ened Oh, thanks, I didn't know anything like that actually existed, while regarding moor, I already use Hive as my database solution, which can also be modified from a separate Isolate.

[2021-07-22 13:37] #186 closed

[2021-07-22 18:45] Destreyf commented on #139
@agnoam While this is helpful to see, it doesn't help with my needs of being able to call a service *before* the upload in order to generate the signed URL's, I've opted instead to write my own upload manager removing my use case for this package entirely, it's unfortunate that I had to resort to this, but it appears to be the only way to handle it (for now).

The project that this was for is curr

[2021-07-22 19:02] lyio commented on #186
@ened is the backgroundHandler always invoked? From the example I gather that you register the handler once and that the isolate is kept running.

But on the Android side the Isolate is only spun up when you actually schedule work. So is there one isolate per task?

[2021-07-22 19:04] ened commented on #186
@lyio Should be one isolate only which is kept around but can be stopped at some point. Do you observe unexpected behavior?

[2021-07-22 19:23] lyio commented on #186
well, at the moment I am not observing any behavior.

This is the handler:
[code]

None of the log statements are triggered.

I also have _regular_ listeners in my main isolate that listen for progress and result. Those are triggered as expected.

So, I am not sure what else to do. Is there anything I need to do apart from calling `setBackgroundHandler`?

[2021-07-23 07:04] lyio opened #189 "iOS logs an error"
I am not sure if this impacts functionality at all, but iOS logs an error after successfully uploading a file:

[code]

[2021-07-24 22:11] Pato05 commented on #151
@ened Is there yet any update on this? It would be really helpful getting all the enqueued upload tasks, so that if the GUI isolate dies, we can still get back all the tasks, as long as the BackgroundWorker is still running.

[2021-07-26 08:30] ened commented on #187
You have fixed it yourself. Thanks again.

[2021-07-26 08:30] #187 closed

[2021-08-02 13:45] Pato05 commented on #142
@ened I am experiencing this bug, the .result callback gets called even when the upload wasn't completed before, but the file is still uploading. I tried checking the `result.status` but it seems to always be `UploadTaskStatus.complete`, `statusCode = 200`. The same thing happens in the example application as well. How may I avoid this?

[2021-08-04 17:29] Pato05 opened #191 "[typo] in some readme entries, there's written flutter-upload instead of flutter-uploader"
precisely you can find this in line 84 (should be flutter-uploader) and 88 (should be com.bluechilli.flutteruploader). I needed to use that configuration, but I didn't notice this at first, I just copied and pasted into my AndroidManifest.xml, it took me a while

[2021-08-05 13:26] lyio opened #192 "Ability to clear individual tasks"
Atm it is only possible to clear all tasks at once.

I need enqueue a number of uploads and need to keep track of them to trigger additional tasks once all uploads belonging to a batch are completed. To this end, I persist the taskId in my local database and check each event in the result listener if there
is an entry for this taskId. If there is not, I ignore the event.

Now, it would be nice to

[2021-08-05 15:17] abinvp opened #193 "Upload Task Id format"
Hi,

Thank you for this wonderful package.

I noticed that the upload task id format is inconsistent in android and ios. While android gives us just the UUID, iOS has the package name also attached. My local database column had a length set only to accommodate the UUID so it was failing to insert.

I am using `uploader.enqueue(upload);`

Android: 405bc0ff-25b8-44ac-b724-26adccc7e7c6
iOS: chillisou

[2021-08-16 16:16] AkhilRaja commented on #189
@lyio I am still able to reproduce this issue in ^3.0.0-beta.2
Is the fix pushed on this version ?

I see a commit for the fix, but the resolution isnt available in the above mentioned version.

[2021-08-18 07:01] lyio commented on #189
afaik this has not been released yet, sorry.

[2021-08-20 14:17] lucasribolli opened #194 "[Question] Example app"
I would like to know why, in example app, it was used `then` in the `backgroundHandler` in functions that returns a Future instead of `async await` in it. For example:
[code]
Is there a limitation in top-level functions registered in isolates?

[2021-08-25 09:28] lyio commented on #193
Kind of expected. On iOS the session identifier is part of the taskId.

This might be leftover from when the taskId was not generated as a UUID.

[2021-08-25 10:04] lyio commented on #166
What a strange issue.

I don't see anything wrong with your suggestion.

It might also be possible to use `Number` instead of `Long` and then call `longValue()` on it.

[code]

[2021-08-31 10:25] danilof opened #198 "Android Build Error - flutter_uploader-3.0.0-beta.3 - cannot find symbol mainExecutor = ContextCompat.getMainExecutor(context)"
This is error that I get on android. Can you help, how can I fix this?

.pub-cache/hosted/pub.dartlang.org/flutter_uploader-3.0.0-beta.3/android/src/main/java/com/bluechilli/flutteruploader/MethodCallHandlerImpl.java:46: error: cannot find symbol
    mainExecutor = ContextCompat.getMainExecutor(context);
                                ^
  symbol:   method getMainExecutor(Context)
  location: clas

[2021-09-01 10:53] danilof commented on #198
I found solution for this:

from build.gradle I was deleted this lines and now is ok.

[code]

[2021-09-01 10:53] #198 closed

[2021-09-02 20:54] #194 closed

[2021-09-08 09:42] abinvp commented on #193
Makes sense. Thanks!

[2021-09-08 09:42] #193 closed

[2021-09-11 07:41] cpduran0622 opened #199 "flutter_uploader multipart issue"
Hello

I used flutter_uploader 1.2.1 and catch progress uploading status.

But after exchange from 1.2.1 to beta version, I can't catch progress of uploading.

Beta version is based on multipart method to upload file.

I request helpful to catch status of multipart uploading.

Thanks.

[2021-09-17 17:05] ingokiem opened #200 "Azure Blob Storage upload fails - with solution"
Hi there! The Android implementation changes the header – causing services like the Azure blob storage to reject uploads as the header is modified. The iOS implementation does not do this. In my opinion the header should only be set in the Flutter code.

Our solution was to just modify

` innerRequestBody = RequestBody.create(file, contentType);`

to

` innerRequestBody = RequestBody.create(file,

[2021-10-02 10:06] tony123S opened #201 "The plugins `flutter_uploader use a deprecated version of the Android embedding"
After update to flutter 2.5.1, I got this error

[code]

[2021-10-02 14:23] tony123S commented on #201
Prerelease version fixed

[2021-10-02 14:23] #201 closed

[2021-10-25 06:52] javed19911 opened #202 "plugins support the Android V2 embedding"
The plugins ` flutter_uploader' use a deprecated version of the Android embedding.
To avoid unexpected runtime failures, or future build failures, try to see if these plugins support the Android V2 embedding. Otherwise, consider removing them since a future release of Flutter will remove these deprecated APIs.

[2021-10-25 19:24] BradenBagby opened #203 "Android mime type not detected if file path contains whitespace"
For example:
after compressing with video_compress (https://pub.dev/packages/video_compress) plugin,  path could be:
'/storage/emulated/0/Android/data/com.example/files/video_compress/VID_2021-10-25 02-21-21.mp4'
which would be detected as mime type 'application/octet-stream' instead of 'video/mp4'

Debated on whether this is an issue with video_compress creating paths with whitespace, or flutter_

[2021-10-31 07:11] tranice opened #204 "Fail to upload file in IOS"
Hi , thanks for great work!
I use flutter_uploader 1.2.1 to upload file and photos to server, server code is asp.net core web api ,like following code:
public Response UploadFile(IFormFile file)
{
      /* code ...*/
}
everything is ok where in Android.
but in IOS device：iphone 7 plus. it is not work.
from log, file had been uploaded ,but in server file is null（as code above）.
log:
URLSessionDidCo

[2021-10-31 09:12] tranice commented on #204
it is the issue of content-type.

[2021-10-31 09:12] #204 closed

[2021-11-02 09:18] ened commented on #176
You will need to enable Swift in the main project, I'm afraid.

[2021-11-02 09:18] #176 closed

[2021-11-03 23:17] passsionforprogramming opened #205 "Sends POST request instead of PUT when UploadMethod.PUT is selected"
Title is self explanatory. When looking at the dev tools, it shows that a POST is consistently sent even when UploadMethod.PUT is selected.

[2021-11-26 15:52] tomsawada commented on #179
@prakash-cr7 @VictorLekweuwa In my case I checked the file is not null and UploadMethod is POST, apparently the file gets picked correctly and starts upload, but then fails with the same error.

Any suggestions are greatly appreciated. Thanks!

Function:
[code]

Console:
D/UploadWorker( 3305): attaching file: /storage/emulated/0/Pictures/IMG_20211115_184414.jpg
D/UploadWorker( 3305): Start uploadi

[2021-11-27 12:05] appdeveloperr opened #206 "Not working with null-safety versions... please update your library"

[2021-11-29 14:58] ened commented on #206
Please use the pre-release version: `3.0.0-beta.3`

[2021-11-29 14:58] #206 closed

[2021-11-29 14:59] ened commented on #205
@passsionforprogramming is this on Android or iOS ?

[2021-11-29 15:24] ened commented on #205
@passsionforprogramming this seems to work, please use the beta version `3.0.0-beta.3`

[2021-11-29 15:24] #205 closed

[2021-12-01 07:44] #117 closed

[2021-12-07 23:15] trueb2 commented on #80
I still see what appears to be a memory leak on 3.0.0-beta.3. I have plenty of successful uploads for a minute or two, then start ramping up memory usage

Most RawUploads are between 100B and 4KB
[code]

From a profile build (and debug looks about the same), I can see memory holding steady without the enqueue calls. With the enqueue calls, the RSS memory builds up and periodically returns to basel

[2021-12-07 23:47] trueb2 commented on #80
I could be wrong but it seems like there is no mechanism to revoke a completed task from the cached stream handler (used by the progress and result event streams). Since these methods may receive multiple calls for each upload task would they always grow in size? I would expect to generate hundreds of uploads per minute with my code that exhibits the problem.

Looking at https://github.com/flutter

[2021-12-08 00:34] trueb2 commented on #80
Canceling every upload on the first result callback seems to work well so far. It doesn't require the clearUploads call either. I will post if I see some other behavior.

I am using FlutterUploader instance like this now:

[code]

[2021-12-08 06:53] ened commented on #80
You're right that CachingStreamHandler may be the issue here. I'll investigate. Thx @trueb2

[2021-12-19 10:44] Bidhanrai opened #211 "java.net.ProtocolException: unexpected end of stream (Android only)"
While trying to upload video file to vimeo .. the above exception occurs.
But for ios part it works fine

[2021-12-23 04:22] sp-sivaprasad commented on #202
Please fix this issue or warning asap :)

[2022-01-05 13:10] Patrick386 opened #212 "Flutter Web solution"
Flutter Web:
We are waiting for a solution that can store large files in firebase storage to be supported quickly. Is it possible?

[2022-01-06 14:19] mkobuolys commented on #203
Any updates on this? After the investigation, it seems that the method that causes the issue is `private String GetMimeType(String url)` in `UploadWorker.java`, specifically - `String extension = MimeTypeMap.getFileExtensionFromUrl(url);`. I assume this part returns null or empty string.

[2022-01-12 11:23] patelnirav48 commented on #150
is this fixed already? now any audio file can be uploaded?

[2022-01-20 06:41] motifx007 opened #213 "tag is returned in the progress or result"
I was trying to upload a video, image and file at the same time. I used tag for each one. During the progress/result, the tag field is not returned.

[code]

[2022-01-20 20:06] ened commented on #203
@cfsbhawkins Could you prepare a PR?

[2022-01-23 07:26] obitors opened #214 "How to upload multiple images to firebase storage using this package"
Hi,
I am building an application where I have to upload multiple photos to firebase storage and then create a post request to MySql.
Currently, I am iteratively uploading photos one by one and then creating MySQL posts for them. I want to run this whole process in the background. Any kind of help would be highly appreciated.

[2022-01-26 17:25] GhezaeGoitom commented on #150
yes, it is working now.

[2022-01-26 17:25] #150 closed

[2022-02-06 07:58] tanapop opened #215 "how to implement on wasabi storage"
I try to upload to wasabi storage

[2022-02-07 15:48] ghunkins opened #216 "Android 12: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified"
### Issue

**Targeting Android SDK 31+ results in immediate crashing for deployments to Android 12+.**

### Stack Trace

[code]

### StackOverflow

[https://stackoverflow.com/a/70227216](https://stackoverflow.com/a/70227216)

### Diagnosis

Currently this package relies on:

[code]

We need to upgrade this to the fixed:

[code]

**If you are dealing with this and need this fixed prior to the relea

[2022-02-07 16:26] orestesgaolin commented on #216
Thanks for the solution!

[2022-02-07 18:40] ened commented on #167
Could you build a repro case in this repos integration test suite, then it will be easier to prepare a fix.

[2022-02-08 09:22] orestesgaolin commented on #167
I will try to reproduce on the example app and contribute the test, thanks

[2022-02-08 10:33] ened commented on #202
Resolved in main branch.

[2022-02-08 10:33] #202 closed

[2022-02-08 10:34] ened commented on #167
You may want to use the current `main` branch for writing the test. Thank you for your help.

[2022-02-08 10:47] #216 closed

[2022-02-08 16:29] orestesgaolin commented on #167
Do you know if there's a workaround to this issue https://github.com/flutter/flutter/issues/98012?
I'm trying to make a test that returns a big json response, something like below, but cannot run integration tests on Android emulator.

[code]

[2022-02-08 16:40] ened commented on #167
The only workaround I know is to reduce the method count by removing dependencies. `gson` is a good candidate to get rid of and replace with androids built in methods.

We're not over 64k by much.

[2022-02-15 19:07] w3ggy opened #220 "Uploading stops when the device is locked."
**The case:**
I want to make my app uploading 500-1000 images in the background even when the device is locked. Everything works fine when the app is in the foreground.

**The issue:**
When I lock the device, I don't receive any events neither in Flutter nor in native. Now it is impossible to debug the Flutter iOS app when the device is locked. Thus, I am trying to debug the native one.

**The bac

[2022-02-15 19:47] w3ggy commented on #220
After logs investigation I see:

<details>
<img width="625" alt="image" src="https://user-images.githubusercontent.com/12301508/154136226-109ec1dc-9753-4890-9ece-7277b44729d5.png">
</details>

but there is no successful message:
<details>
<img width="656" alt="image" src="https://user-images.githubusercontent.com/12301508/154136361-0dd93cd1-b64a-439d-8538-bad3ec6962e3.png">
</details>

Looks stran

[2022-02-20 17:05] Mussab00 opened #221 "Wrong file type when uploading video to firebase storage via upload url"
When i upload a video to firebase storage via a uploadUrl it does work, but the file type is wrong.

Code:
![image](https://user-images.githubusercontent.com/32457409/154854749-50bcd2ae-3d7f-49af-ba4b-416c21e703ae.png)

File in storage:
![image](https://user-images.githubusercontent.com/32457409/154854722-f5279ab8-c63f-4ac3-ba96-769ca680992b.png)

I'm on Prerelease: [[3.0.0-beta.4](https://pub.dev

[2022-02-21 13:59] #221 closed

[2022-03-06 09:08] mhdkadi opened #222 "how to trigger a method after a background upload is finished ?"
I need my application to encrypt a text file and save it to local storage after downloading it using the flutter uploader .
so how can I use my dart function that encrypts and save files?

[2022-03-14 22:43] ened commented on #215
If it can be accessed with simple HTTP POST/PUT uploads, then you can use this package.

[2022-03-14 22:43] #215 closed

[2022-03-18 06:49] ChangJoo-Park opened #223 "[^3.0.0.beta4] not working setBackgroundHandler on iOS"
just make `backgroundHandler` top-level method on top of main.dart.
[code]
and register handler with `setBackgroundHandler`

[code]

when I start upload, upload is well works but `background handler` does not print on debug console

[2022-04-03 10:30] nkenna opened #226 "method 'setBackgroundHandler' isn't defined for the type 'FlutterUploader'"
It seems setBackgroundHandler cannot be accessed from FlutterUploader()
I did copy the example code and still got this error.

The method 'setBackgroundHandler' isn't defined for the type 'FlutterUploader'.
Try correcting the name to the name of an existing method, or defining a method named 'setBackgroundHandler'.

`FlutterUploader _uploader = FlutterUploader();`
` @override
  void initState() {

[2022-04-21 05:18] Aegisian opened #227 "Server Error with Status Code 500"
Hello,

I am using flutter_uploader: ^3.0.0-beta.4.
Flutter 2.10.4 • channel stable • https://github.com/flutter/flutter.git
Framework • revision c860cba910 (4 weeks ago) • 2022-03-25 00:23:12 -0500
Engine • revision 57d3bac3dd
Tools • Dart 2.16.2 • DevTools 2.9.2

Now When I run demo example that given in this repository I am getting Internal Server error with  status code 500.

![imgpsh_fullsize

[2022-05-22 14:17] vricosti opened #228 "Error when building example on Android"
When I try to test example I get the following build error:
[code]

[2022-05-22 14:22] vricosti commented on #228
I have modified like this:

[code]

but then I have another error:

[code]

[2022-05-25 23:53] spatialbits commented on #226
You'll need one of the beta releases, not the one in dart pub.

eg Pubspec.yaml
[code]

[2022-05-26 07:51] sara-shokry commented on #220
@w3ggy did you find any solution for this issue ?

[2022-05-26 09:00] sara-shokry commented on #49
@tony123S i'v more than one task, and the result called multiple times for each one  should i cancel each one when i received successful result ??

[2022-05-26 17:11] spatialbits commented on #228
I'm experiencing the same on `3.0.0-beta.4`. Did you find a solution?

[2022-05-26 17:27] spatialbits commented on #228
Running it off the latest commit on main fixed it for me.
See https://github.com/fluttercommunity/flutter_uploader/commit/5ed749bd339910365a7e072054d887cb9a4d129e

[2022-05-26 21:47] ramisadek opened #229 "Duplication of results in Uploader.result when the event finished with Task ID 3 or 4"
I'm trying to execute some piece of code when the uploader finishes its uploading but it seems it is duplicates due to multi notifications from the plugin that the task has been finished for 4-20 times until it stops at some random point

[2022-05-31 19:03] romawizard commented on #229
It's because the plugin uses CachingStreamHandler. It cached all taskId and send it to flutter when a new event came. I don't really understand the purpose of this cache.
Maybe the author can shed the light on this?

[2022-06-03 21:52] spatialbits commented on #178
Just wanted to add that I see this behaviour as well on Android but on iOS progress updates seem to come in more steadily.

[2022-06-03 22:13] spatialbits commented on #213
From the looks of this comment, the tag is only returned on Android:
https://github.com/fluttercommunity/flutter_uploader/blob/874f6a442fe26bd0917d2e2593f115c492eb4d92/lib/src/upload.dart#L24-L25

[2022-06-08 02:31] yjt1216 opened #231 "Fetching podspec for `flutter_uploader` from `.symlinks/plugins/flutter_uploader/ios`"
Fetching external sources
    -> Fetching podspec for `Flutter` from `Flutter`
    -> Fetching podspec for `flutter_uploader` from `.symlinks/plugins/flutter_uploader/ios`

[2022-06-08 03:15] yjt1216 commented on #223
CocoaPods could not find compatible versions for pod "flutter_uploader":

[2022-06-08 03:31] yjt1216 commented on #116
[✓] Flutter (Channel stable, 2.10.4, on macOS 12.4 21F79 darwin-arm, locale zh-Hans-CN)
    • Flutter version 2.10.4 at /Users/yinjiangtao/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision c860cba910 (3 个月前), 2022-03-25 00:23:12 -0500
    • Engine revision 57d3bac3dd
    • Dart version 2.16.2
    • DevTools version 2.9.2
    • Pub download mirror htt

[2022-06-08 03:32] yjt1216 commented on #116
`[✓] Flutter (Channel stable, 2.10.4, on macOS 12.4 21F79 darwin-arm, locale zh-Hans-CN)
    • Flutter version 2.10.4 at /Users/yinjiangtao/flutter
    • Upstream repository https://github.com/flutter/flutter.git
    • Framework revision c860cba910 (3 个月前), 2022-03-25 00:23:12 -0500
    • Engine revision 57d3bac3dd
    • Dart version 2.16.2
    • DevTools version 2.9.2
    • Pub download mirror ht

[2022-06-10 11:03] raphaelgurtner commented on #184
have you checked that the issue is not the content-type header? we had the same issue (server not receiving anything when the request came from iOS but worked fine on android) and setting no content-type header worked for MultipartFormDataUpload
Related issue #204

[2022-06-16 09:51] Bidhanrai opened #232 "Upload failed in android"
I am testing on Samsung Galaxy j7 Prime

Failed to upload - taskId: e9107260-4284-4e79-a2bd-f3d711cda1c9, code: upload_task_error, error: okhttp3.internal.http2.StreamResetException: stream was reset: NO_ERROR

[2022-07-08 19:49] DavidAriza opened #233 "uploader.result.listen called twice on iOS"
I'm using uploader.progress.listen to show a progress notification and then uploader.result.listen to show a final notification, this is working perfectly fine on Android but on iOS, I see first a final notification, then a lot of progress notifications, and then a final notification again.

[2022-07-21 12:52] Iradukunda-Nadia commented on #1
@ened was this ever implemented?

[2022-07-27 14:43] DavidAriza opened #234 "Uploaded Status Cancelled only on iOS"
I'm trying to upload a file on iOS but it's not working, I get statusCode 500 and Upload Status 5, any idea why is this happening only on iOS? In Android is working fine

[2022-08-02 21:46] barees63 opened #236 "iOS crash on entering background"
I'm having a weird issue with the current beta, I can run the example app fine and it works in foreground and background, but my own app crashes whenever it is backgrounded with active uploads...

[code]

Line 198 in GCDWebSever.m is:

`GWS_DCHECK(_activeConnections == 0);`

Does this ring a bell for anyone?

[2022-08-03 08:19] barees63 commented on #178
I'm seeing the same thing on iOS, with a binary PUT the progress jumps to 100 very quickly (too quickly) but then there is a delay while the request actually completes.  However I suspect this is just the way NSURLSession works with PUT?

[2022-08-07 15:57] lkrjangid1 opened #237 "Get an error in android while debugging app"
[code]

[2022-08-09 14:54] ened commented on #237
Looks like the server did not respond with a valid JSON.

[2022-08-12 01:58] jaysignorello commented on #234
I'm having the same problem. However, oddly it works for me in debug mode on a real device and in the simulator. When I make a release build, it stops working and I don't receive any result events, though it enqueues the tasks without any problems. The same web url, data, and file uploads fine in flutter.

[2022-08-16 11:26] georgiosd commented on #228
No official answer? :-\

[2022-08-31 03:58] jaysignorello opened #239 ".req files on iOS are never deleted after successful completion of request"
The request files continue to persist, even after a task has been successfully completed. This causes the app's storage usage to continually grow without being able to clear it.

[2022-08-31 22:48] ened commented on #239
That is a major bug, PRs welcome!

[2022-08-31 22:52] jaysignorello commented on #239
@ened Working towards it. First I realized that we need to name the req files with the taskId to make it easier to clean up.

https://github.com/jaysignorello/flutter_uploader/commit/e0e5e9d82aae7afe5adde1a1b9f363513a61b545

[2022-09-06 20:10] jakehockey10 commented on #202
Was a release for this every made?  I just added this library to our project and I'm still seeing this issue.

[2022-09-06 20:44] jakehockey10 commented on #228
guess not

[2022-09-09 18:56] mudi256 commented on #221
How do you solve that problem?

[2022-09-09 21:07] spatialbits commented on #221
I'm not familiar with the firebase "type" property, but I assume it's derived from the content type.
I noticed in my app that iOS uploads did not have the content type header set correctly. The plugin allows you to set the content type manually, which worked for me.

On Android the content type header is already set correctly when uploaded.

[2022-09-14 17:38] wadihhannouch commented on #202
Same her @jakehockey10

[2022-09-16 15:48] iostriz opened #241 "Task suspend (pause) and then resume"
Is it possible? If not, maybe it should be...

[2022-09-17 20:40] bigmikehoncho commented on #37
Hey folks :) thank you for the great library! Are there any updates on this front, by chance? Or any info on uploading via Tus in the background on iOS especially?

[2022-09-17 21:57] Bestfastfire commented on #228
Same here

[2022-09-20 10:24] BetterB0y opened #243 "allowCellular false not working"
Either way allowCellular = false is not working. When I turned off wifi as expected it didn't send photo - with logs:
W/WM-WorkSpec(26574): Backoff delay duration less than minimum value

When i turned on wifi and tried to send photo I also got and photo was not sent;

W/WM-WorkSpec(26574): Backoff delay duration less than minimum value

[2022-09-20 10:36] BetterB0y commented on #243
I checked it now on ios its working properly.

[2022-09-21 22:37] JoshJuncker opened #244 "Signed uploads can fail due to mime type mismatch (on Android)"
Steps to Reproduce:
1. Put a aac file in Android with a .m4a container (https://pub.dev/packages/record will produce such a file)
2. Use mime package to determine mime type of file. Notice it returns audio/mp4
3. Create a signed url upload request that takes headers, specifically "Content-Type" into account (like aws s3)
4. Enqueue the upload with the signed url, path to the file, and headers that

[2022-09-28 17:14] JoshJuncker opened #245 "Background Isolate broken on Flutter version 3.3.2 in release mode"
I upgraded to flutter 3.3.2 from 3.0.5, and I get the following error in release mode. Debug mode works fine, and 3.0.5 works fine.

[code]

Note that 'package:shout_flutter/utilities/service_locator.dart' is simply the dart file that contains the top level backgroundHandler function (copied directly from the readme).
It seems something is wrong when it tries to boot the isolate with the top level

[2022-09-30 12:22] RamunasO commented on #245
You need to add @pragma('vm:entry-point') to your callback function, otherwise flutter will treeshake it in production. See [flutter download docs](https://pub.dev/packages/flutter_downloader) for an example.

This also needs to be added to UploadTaskStatus class from flutter uploader side most likely, otherwise you will not be able to pass that class through the isolate.

[2022-09-30 20:12] JoshJuncker commented on #245
@RamunasO The flutter downloader docs also make it seem like the pragma entry is only required for Android, but my issue was happening on iOS.
`@pragma('vm:entry-point') must be placed above the callback function to avoid tree shaking in release mode for Android.`

I'll have to try it out and see if it works.

[2022-10-07 19:53] jaysignorello commented on #245
@JoshJuncker did you ever get it to work? I'm experiencing the exact same issue and already had `@pragma('vm:entry-point')` added to the callback function

[2022-10-09 12:24] masal9pse opened #246 "Uploading stops if I keep uploading images for more than 30 seconds on IOS."
I have about 50 images in total uploading to the server in the background, but after about 20 uploads, it goes to over 30 seconds and the upload log stops from there. Is there a workaround for this?

[2022-10-10 15:49] JoshJuncker commented on #245
I didn't. I ended up reverting my flutter version to 3.0.5 as I don't have
time to look into it right now.

On Fri, Oct 7, 2022 at 1:53 PM jaysignorello ***@***.***>
wrote:

[2022-10-15 04:46] waqadArshad commented on #184
@raphaelgurtner what does setting no content-type header means? Can you please tell me what to write? Here is my code:

[code]

[2022-10-15 04:47] waqadArshad commented on #204
@tranice what does setting no content-type header means? Can you please tell me what to write? Here is my code:

[code]

[2022-10-21 20:20] ened commented on #204
What content type is the file you are uploading? You need to match it using `Content-Type`.

[2022-10-21 20:20] #184 closed

[2022-10-27 04:25] csy159963 commented on #233
same here

[2022-10-31 10:01] waqadArshad commented on #236
Hi @barees63 , are u sure you are not seeing it on real device?

[2022-10-31 10:08] waqadArshad commented on #245
Hi @JoshJuncker, did you find any solution? I am also having this issue. It is not working on release mode.  Can you please help me out?

[2022-10-31 10:12] waqadArshad commented on #234
@jaysignorello did you find any solution? Please help me out here. The app is live and this is unbearable. Thanks

[2022-10-31 15:15] JoshJuncker commented on #245
@waqadArshad I just downgraded to flutter 3.0.5. Not a great solution, but I don't have the time to dig in further...

[2022-11-01 22:08] waqadArshad commented on #245
@JoshJuncker thanks a lot. I really appreciate this. I was stuck at this for quite a long time, thinking that there was something wrong with my code. I cannot really express how thankful I am. Thanks a lot.

[2022-11-02 14:33] tomekit opened #247 "Is there a way to specify HTTP proxy / Charles?"
I register my proxy in `main.dart` like this:
[code]

Unfortunately anything that goes through: `flutter_uploader` isn't captured.

Request coming from other libaries, `Dio` or `cached_network_image` work just fine.

Is there a way to pass down the proxy settings, so the proxy works from the: `com.bluechilli.flutteruploader.UploadWorker`?

[2022-11-03 18:32] ened commented on #247
Can you share more info on the proxy override method that you use, source code and settings would be great. I'm not familiar with it. Thank you!

[2022-11-03 18:48] tomekit commented on #247
Hi Sebastian, I am very new to Flutter environment, so please forgive my ignorance.

Basically flutter allows to set global proxy using `findProxy`:
https://api.flutter.dev/flutter/dart-io/HttpClient/findProxy.html

Example code:

lib/proxy-http-overrides.dart
[code]

main.dart
[code]

Charles part is pretty irrelevant, it's just one of the popular proxies, but you can use any HTTP compatible prox

[2022-11-06 20:53] jaysignorello commented on #234
@waqadArshad yes, I setup the listener to work in the foreground, which seems to work fine while the user is using the app, but certainly isn't ideal given it's not working as intended.

[2022-11-07 09:23] lyio commented on #247
@tomekit there is no way to specify a Proxy at the moment. The actual network communication is done using native methods and the Proxy would need to be set there.

[2022-11-07 10:07] tomekit commented on #247
Thanks, I see, in which case this small feature would actually require modifying both Java's (OkHttpClient - https://stackoverflow.com/a/38252304/2263395) and Swift's equivalent (https://stackoverflow.com/questions/16847858/ios-any-body-knows-how-to-add-a-proxy-to-nsurlrequest), then the proxy would actually have to be passed from the Dart to the native methods.

[2022-11-07 10:07] #247 closed

[2022-11-09 10:08] rishabhab opened #248 "version 3.0.0 source code is missing in github"
Hi, This is very straightforward issue, I can't find the source code of version 3.0.0-beta.x however its mentioned in the pub.dev website

[2022-11-10 16:21] davidbrenner commented on #229
@ramisadek - did you find a workaround for this? Do you just track on the flutter side that the completion for that task has already been called?

I'm seeing what I believe to be this behavior on android devices, but it happens randomly.

[2022-11-15 11:18] lielvan commented on #245
Had a similar issue, can confirm this solved it. Thank you 👍

[2022-11-16 07:25] rishabhab commented on #248
++ @ened